openapi: 3.1.0
info:
  title: Automatic Rostering
  description: |-
    # Visma Connect Token Retrieval

    1. Create a POST request to the Visma Connect API:
       - For the stage environment, use: [https://connect.identity.stagaws.visma.com/connect/token](https://connect.identity.stagaws.visma.com/connect/token)
       - For the production environment, use: [https://connect.visma.com/connect/token](https://connect.visma.com/connect/token)

    2. In the header of your request, specify `Content-Type: application/x-www-form-urlencoded`.

    3. In the request body, specify the following parameters:
       - `grant_type: client_credentials`
       - `client_id: YOUR_ID_FROM_STEP_1.3`
       - `client_secret: YOUR_SECRET_FROM_STEP_1.9`
       - `scope: SCOPE_FROM_STEP_1.7`

    4. Send the request and retrieve the `access_token` from the response.

    5. Include the `Authorization` header with the `Bearer YOUR_ACCESS_TOKEN` for all your requests to the Automatic Rostering API.

    6. You are now ready to make requests to the Automatic Rostering API.

    For more information about Visma Connect OAuth 2.0 Bearer Token Authentication, refer to [Visma Connect Confluence](https://confluence.visma.com/display/PROV/Visma+Connect+OAuth+2.0+Bearer+Token+Authentication).
  version: json_alpha
servers:
  - url: https://api.optimization-rostering.stag.visma.net
    description: Stage (dev) environment
  - url: https://api.optimization-rostering.prod.visma.net
    description: Production environment
tags:
  - name: roster
    x-displayName: Create roster
    description: Endpoints for starting, stopping, and retrieving scheduling jobs
  - name: analyze
    x-displayName: Analyze (WIP)
    description: Endpoint for analyzing job requests
  - name: feasibility
    x-displayName: Feasibility
    description: Endpoints for checking feasibility of jobs
  - name: problem-model
    x-displayName: Roster request
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/request" />
paths:
  /jobs:
    post:
      tags:
        - roster
      summary: Start job
      x-mint:
        metadata:
          mode: wide
      description: Creates and immediately starts a new job for the solver.
      security:
        - vismaConnectBearer: []
      parameters:
        - in: header
          name: CUSTOMER_ID
          schema:
            type: string
          required: true
          example: resolve
        - in: header
          name: USER_ID
          schema:
            type: string
          required: true
          example: dev_team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
      responses:
        '202':
          description: Job accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job'
        '400':
          description: Payload defined in request body is not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '406':
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Not Acceptable. Supported Accept types are application/xml, application/json
        '415':
          description: Defined Content-Type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Unsupported content type. Supported Content-Types are application/xml, application/json
  /jobs/{id}:
    get:
      tags:
        - roster
      summary: Get job status
      x-mint:
        metadata:
          mode: wide
      description: Returns the current state of the specified solver job, including whether it is still running or has stopped.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status retrieved successfully. Check payload body for status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/job_status'
        '404':
          description: Job with given ID not found
        '406':
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: 'Supported Accept header values: application/json, application/xml'
    put:
      tags:
        - roster
      summary: Stop job
      x-mint:
        metadata:
          mode: wide
      description: Stops a running solver job.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: The job was stopped successfully.
        '404':
          description: Job with given ID not found
  /jobs/{id}/result:
    get:
      tags:
        - roster
      summary: Get result
      x-mint:
        metadata:
          mode: wide
      description: Returns the current best solution produced by the solver for the specified job.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response'
        '404':
          description: Job with given ID not found
  /jobs/{id}/request:
    get:
      tags:
        - roster
      summary: Get request
      x-mint:
        metadata:
          mode: wide
      description: Returns the payload that was sent to the API when starting the job.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the payload that was sent to the API when starting the job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/request'
        '404':
          description: Job with given ID not found
  /analyze:
    post:
      tags:
        - analyze
      summary: Analyze
      x-mint:
        metadata:
          mode: wide
      description: WIP - Analyze a job request. Currently returns a dummy response.
      security:
        - vismaConnectBearer: []
      parameters:
        - in: header
          name: CUSTOMER_ID
          schema:
            type: string
          required: true
          example: resolve
        - in: header
          name: USER_ID
          schema:
            type: string
          required: true
          example: dev_team
        - in: header
          name: ACCEPT_LANGUAGE
          schema:
            type: string
            description: Preferred language for response messages
            example: no-NO
            default: en-US
          description: Language code for localizing warning messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
      responses:
        '200':
          description: Request analyzed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response-analyzer'
        '400':
          description: Payload defined in request body is not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '406':
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Not Acceptable. The only supported accept type is application/json.
        '415':
          description: Defined Content-Type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Unsupported content type. The only supported content type is application/json.
  /feasibility:
    post:
      tags:
        - feasibility
      summary: Feasibility Check
      x-mint:
        metadata:
          mode: wide
      description: Check jobs feasibility.
      security:
        - vismaConnectBearer: []
      parameters:
        - in: header
          name: CUSTOMER_ID
          schema:
            type: string
          required: true
          example: resolve
        - in: header
          name: USER_ID
          schema:
            type: string
          required: true
          example: dev_team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/request'
      responses:
        '200':
          description: Job validated successfully. For payload feasibility check response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/feasibilityResponseJson'
        '400':
          description: Payload defined in request body is not valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/badRequest'
        '406':
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Not Acceptable. Supported Accept types are application/xml, application/json
        '415':
          description: Defined Content-Type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Unsupported content type. Supported Content-Types are application/xml, application/json
components:
  securitySchemes:
    vismaConnectBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Enter the token with the `Bearer: ` prefix. You can retrieve token from Visma connect.'
  schemas:
    duration:
      type: object
      description: A simple duration of time. E.g. 30 minutes, 2 hours or 2 hours, 30 minutes. Either hours or minutes must be set. They both default to zero, if not specified. Minutes must be a multiple of 5 as this is the smallest time unit used in the solver.
      minProperties: 1
      properties:
        hours:
          type: integer
          minimum: 0
          default: 0
        minutes:
          type: integer
          multipleOf: 5
          minimum: 0
          default: 0
    timeStamp:
      type: string
      description: TIME ISO 8601 format hh:mm. Equivalent to the 24h format of a single day. Use 00:00 to represent midnight.
      format: time
    date:
      type:
        - string
        - 'null'
      format: date
      description: Date is specified in ISO8601 format YYYY-MM-DD. Can only be used when schedule type is CALENDAR.
    dayIndex:
      type:
        - integer
        - 'null'
      description: Day index relative to the first day of the period (starts at 0). Can only be used when schedule type is RECURRING.
      minimum: 0
    dayOfWeek:
      type: string
      enum:
        - MON
        - TUE
        - WED
        - THU
        - FRI
        - SAT
        - SUN
    daysWithTime:
      description: List of days in the schedule. Each day will become one period. By default, each period will last the entire day. If a startTime and/or endTime are specified, these will apply to each period.
      type: object
      properties:
        dates:
          description: List of dates in the schedule. Only allowed in CALENDAR payloads.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/date'
        dayIndices:
          description: List of day indices in the schedule. Only allowed in RECURRING payloads.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/dayIndex'
        daysOfWeek:
          description: List of days of the week. Will apply to all days in the schedule that match any of the specified weekdays.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/dayOfWeek'
        startTime:
          description: Time of day at which each period starts. If not specified, this defaults to 00:00.
          $ref: '#/components/schemas/timeStamp'
        endTime:
          description: Time of day at which each period ends. If not specified, this defaults to end of day.
          $ref: '#/components/schemas/timeStamp'
    day:
      description: Describes one day in the schedule. Can be defined as a date (in CALENDAR payloads) or as a day index (in RECURRING payloads).
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        date:
          $ref: '#/components/schemas/date'
        dayIndex:
          $ref: '#/components/schemas/dayIndex'
    customPeriodDefinition:
      type: object
      properties:
        startDay:
          description: The day in the schedule where the period starts. If not specified, this defaults to the first day of the schedule.
          $ref: '#/components/schemas/day'
        endDay:
          description: The day in the schedule where the period ends. If not specified, this defaults to the last day of the schedule.
          $ref: '#/components/schemas/day'
        startTime:
          description: Time of day at which each period starts. If not specified, this defaults to 00:00.
          $ref: '#/components/schemas/timeStamp'
        endTime:
          description: Time of day at which each period ends. If not specified, this defaults to end of the day.
          $ref: '#/components/schemas/timeStamp'
        applyTimeToAllDays:
          type: boolean
          description: If true, the startTime and endTime will be applied to each individual day in the period. If false, the startTime will apply to the first day and the endTime will apply to the last day.
          default: false
        type:
          type: string
          enum:
            - BASIC
          deprecated: true
    recurrentPeriodDefinition:
      type: object
      description: A recurrent definition to easily create a set of similar periods.
      example:
        example_weekly:
          value:
            daysPerPeriod: 7
          summary: The above recurrent definition will create a non-overlapping set of periods that are each 7 days long, spanning the entire roster.
        example_weekly_sliding:
          value:
            daysPerPeriod: 14
            daysBetweenStarts: 1
          summary: The above recurrent definition will create periods that are each two weeks long, with one such period starting on each day of the roster. This could for example be used to indicate that an employee must have 48 hours of rest in any two-week long period (using PeriodicRestConstraint).
      required:
        - daysPerPeriod
      properties:
        daysPerPeriod:
          type: integer
          description: The number of days in each period.
          minimum: 1
        daysBetweenStarts:
          type: integer
          description: The number of days between the start of each period. If not specified, this defaults to the value of daysPerPeriod, creating non-overlapping consecutive periods. Setting daysBetweenStarts to 1 will create a sliding window of periods.
          minimum: 1
        startDay:
          description: The day in the schedule where the first period will start. If not specified, this defaults to the first day of the schedule.
          $ref: '#/components/schemas/day'
        endDay:
          description: The day in the schedule where the last period will end. If not specified, this defaults to the last day of the schedule.
          $ref: '#/components/schemas/day'
        startTime:
          description: Time of day at which each period starts. If not specified, this defaults to 00:00.
          $ref: '#/components/schemas/timeStamp'
        endTime:
          description: Time of day at which each period ends. If not specified, this defaults to end of the day.
          $ref: '#/components/schemas/timeStamp'
        applyTimeToAllDays:
          type: boolean
          description: If true, the startTime and endTime will be applied to each individual day in the period. If false, the startTime will apply to the first day and the endTime will apply to the last day.
          default: false
    periods:
      type: object
      minProperties: 1
      maxProperties: 1
      description: List of periods in the schedule. Periods can either be defined explicitly using custom definitions, or through a recurrent definition. A recurrent definition can be used to easily generate a list of similar periods (such as weeks, months, etc.).
      properties:
        days:
          $ref: '#/components/schemas/daysWithTime'
        customDefinitions:
          type: array
          description: List of custom period definitions. Each custom period definition defines one period in the schedule.
          items:
            $ref: '#/components/schemas/customPeriodDefinition'
        recurrentDefinition:
          $ref: '#/components/schemas/recurrentPeriodDefinition'
        labels:
          type: array
          uniqueItems: true
          description: Provide labels to re-use periods that were defined in the configuration.
          items:
            type: string
    attribute:
      type: object
      required:
        - values
      properties:
        category:
          type: string
          description: The category of the attribute.
        values:
          type: array
          items:
            type: string
          description: The values that the employee has for this attribute. For example, an employee can have the values "marketing" and "finance" for an attribute with the id "department".
        periods:
          $ref: '#/components/schemas/periods'
        id:
          deprecated: true
          type: string
    days:
      description: List of days in the schedule. Days can be defined as an array of dates (in CALENDAR payloads), as an array of day indices (in RECURRING payloads), or as an array of weekdays (allowed in all payloads).
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        dates:
          description: List of dates in the schedule. Only allowed in CALENDAR payloads.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/date'
        dayIndices:
          description: List of day indices in the schedule. Only allowed in RECURRING payloads.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/dayIndex'
        daysOfWeek:
          description: List of days of the week. Will apply to all days in the schedule that match any of the specified weekdays.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/dayOfWeek'
    preassignedShift:
      type: object
      required:
        - shiftId
        - days
      properties:
        shiftId:
          type: string
          description: The id of the shift that is assigned to the employee.
        days:
          $ref: '#/components/schemas/days'
        isLocked:
          type: boolean
          description: Whether the shift is locked. Locked shifts cannot be changed by the solver. For read-only employees, all shifts are automatically considered locked.
          default: false
        roleId:
          type: string
          description: The role id of the role that the employee has when working this shift. Needs to match a role id from the employee's list of roles.
    dayIndexes:
      type: array
      description: List of day indexes, relative to the first day of the period (starts at 0). Can only be used when schedule type is RECURRING.
      items:
        $ref: '#/components/schemas/dayIndex'
      uniqueItems: true
    dates:
      type: array
      description: List of dates, specified in ISO8601 format YYYY-MM-DD. Can only be used when schedule type is CALENDAR.
      items:
        $ref: '#/components/schemas/date'
      uniqueItems: true
    scheduleDaysWithoutWeekDays:
      deprecated: true
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        dayIndexes:
          $ref: '#/components/schemas/dayIndexes'
        dates:
          $ref: '#/components/schemas/dates'
    scheduledShift:
      type: object
      required:
        - shiftId
        - scheduleDays
      properties:
        shiftId:
          type: string
          description: The id of the shift that is pre-scheduled.
        locked:
          type: boolean
          description: Whether the shift is locked. Locked shifts cannot be changed by the solver. For read-only employees, all shifts are automatically considered locked.
          default: false
        scheduleDays:
          $ref: '#/components/schemas/scheduleDaysWithoutWeekDays'
    dayIndicator:
      type: integer
      minimum: -1
      maximum: 1
    shiftInterval:
      type: object
      description: Interval of a shift. When an employee is assigned to a shift, the employee will work all of its intervals.
      required:
        - startTime
        - endTime
        - dayIndicator
      properties:
        startTime:
          $ref: '#/components/schemas/timeStamp'
        endTime:
          $ref: '#/components/schemas/timeStamp'
        dayIndicator:
          $ref: '#/components/schemas/dayIndicator'
          description: |-
            Indicates which day this interval belongs to, relative to the day that the shift belongs to. -1 indicates the
            interval starts on the previous day, 0 on the same day, and 1 on the next day.
        breakMinutes:
          type: integer
          description: Minutes of break in this interval. The solver does not plan the break at any specific time, but the break minutes are subtracted from the total FTE for the shift.
          default: 0
        taskId:
          type: string
          description: Task id of the task that must be worked on during this interval. The task needs to be defined in the configuration part of the payload.
        assignmentId:
          deprecated: true
          type: string
        workTypeId:
          type: string
          deprecated: true
    connectedShifts:
      type: object
      minProperties: 1
      properties:
        shiftIds:
          type: array
          description: List of ids of shifts that are connected to this shift.
          uniqueItems: true
          items:
            type: string
        shiftTemplateIds:
          type: array
          description: List of ids of shift templates that are connected to this shift.
          uniqueItems: true
          items:
            type: string
        dayOff:
          type: boolean
          description: Whether the connected shift can be a day off.
          default: false
    attributeMatchType:
      type: string
      enum:
        - NONE
        - ANY
        - ALL
      default: ALL
    attributeRequirement:
      type: object
      properties:
        category:
          type: string
          description: The category of the attribute.
        values:
          type: array
          items:
            type: string
          description: The targeted values for this requirement.
          uniqueItems: true
        matchType:
          $ref: '#/components/schemas/attributeMatchType'
        id:
          deprecated: true
          type: string
    weekDay:
      type: integer
      description: |-
        Week day (Monday = 1, Tuesday = 2, ..., Sunday = 7). NOTE. This is one-based, meaning that Monday is index 1 and
        Sunday is index 7.
      minimum: 1
      maximum: 7
    weekDays:
      type: array
      description: List of week days.
      items:
        $ref: '#/components/schemas/weekDay'
      uniqueItems: true
    scheduleDays:
      deprecated: true
      type: object
      not:
        required:
          - dates
          - dayIndexes
      minProperties: 1
      properties:
        weekDays:
          $ref: '#/components/schemas/weekDays'
        dayIndexes:
          $ref: '#/components/schemas/dayIndexes'
        dates:
          $ref: '#/components/schemas/dates'
    timeWindow:
      type: object
      description: A time window. From a start timeStamp to an end timeStamp. The end is not included. A timeWindow can wrap around midnight, in which case the end timeStamp is before the start timeStamp.
      required:
        - start
        - end
      examples:
        - regular:
            value:
              start: '13:00'
              end: '16:00'
            summary: A regular 3 hour time window from 13:00 to 16:00.
        - wrap_around_midnight:
            value:
              start: '08:00'
              end: '02:00'
            summary: A 18 hour long time window from 08:00 in the morning until 02:00 the next morning.
        - 24_hour:
            value:
              start: '00:00'
              end: '00:00'
            summary: A time window that spans the entire 24 hours of a day, from midnight to midnight.
        - single_timeStamp:
            value:
              start: '13:00'
              end: '13:01'
            summary: A timeWindow that is handled as a single timeStamp, meaning it has no duration.
      properties:
        start:
          $ref: '#/components/schemas/timeStamp'
        end:
          $ref: '#/components/schemas/timeStamp'
    durationInterval:
      type: object
      description: An interval of time duration. Equivalent to saying a duration between 1 hour, 30 minutes and 2 hours, 45 minutes. Note that both min and max duration are required. For an interval that is shorter than 5 hours, set min = 0h and max = 5h. For an interval that is longer than 5 hours, set min = 5h and max = 99h.
      required:
        - min
        - max
      properties:
        min:
          $ref: '#/components/schemas/duration'
        max:
          $ref: '#/components/schemas/duration'
    attributeRequirementGroup:
      type: object
      properties:
        attributeRequirements:
          type: array
          items:
            $ref: '#/components/schemas/attributeRequirement'
        min:
          type: integer
          description: The minimum number of employees on the demand matching this attribute requirement.
          minimum: 1
    attributeRequirementForDemand:
      deprecated: true
      type: object
      properties:
        id:
          type: string
          description: A unique id for this requirement.
        values:
          type: array
          description: The accepted values for the attribute. The amount of these values that the employee must have can be specified with the minimum and maximum properties.
          items:
            type: string
        matchType:
          $ref: '#/components/schemas/attributeMatchType'
        min:
          type: integer
          description: The minimum number of employees on the demand matching this attribute requirement.
          minimum: 1
    demandPriority:
      type: number
      default: 1
      minimum: 1
      maximum: 2
      description: Priority of this demand. Increasing a demand's priority will make the solver prioritize it compared to demands, but also compared to constraints.
    shiftDemand:
      type: object
      required:
        - shiftId
        - ideal
      properties:
        shiftId:
          type: string
          description: Id of the shift for which there is demand.
        min:
          type: integer
          description: Minimum number of employees needed to cover the demand. The solver will try to cover the demand with at least this number of employees. If not specified, will be equal to ideal.
        ideal:
          type: integer
          description: Ideal number of employees needed to cover the demand. The solver prefers to cover the demand with exactly this number of employees.
        max:
          type: integer
          description: Maximum number of employees needed to cover the demand. The solver will never assign more employees to cover the demand than this number. If not specified, will be equal to ideal.
        attributeRequirementGroups:
          type: array
          description: List of requirements on the attributes that an employee must meet to be eligible to cover this shift demand.
          items:
            $ref: '#/components/schemas/attributeRequirementGroup'
        attributeRequirements:
          deprecated: true
          type: array
          description: DEPRECATED - Use AttributeRequirementGroups instead.
          items:
            $ref: '#/components/schemas/attributeRequirementForDemand'
        priority:
          $ref: '#/components/schemas/demandPriority'
    timeDemand:
      type: object
      required:
        - timeSlotId
        - ideal
      properties:
        timeSlotId:
          type: string
          description: Id of the time slot for which there is demand.
        min:
          type: integer
          description: Minimum number of employees needed to cover the demand. The solver will try to cover the demand with at least this number of employees. If not specified, will be equal to ideal.
        ideal:
          type: integer
          description: Ideal number of employees needed to cover the demand. The solver prefers to cover the demand with exactly this number of employees.
        max:
          type: integer
          description: Maximum number of employees needed to cover the demand. The solver will never assign more employees to cover the demand than this number. If not specified, will be equal to ideal.
        priority:
          $ref: '#/components/schemas/demandPriority'
    shiftLabelRule:
      type: object
      properties:
        label:
          type: string
          description: Unique identifier. The name of the shift label that is applied to shifts that adheres to the rules specified.
        startTimeWindow:
          $ref: '#/components/schemas/timeWindow'
          description: If specified, the shift must start inside this time window.
        endTimeWindow:
          $ref: '#/components/schemas/timeWindow'
          description: If specified, the shift must end inside this time window.
        includesTimeWindow:
          $ref: '#/components/schemas/timeWindow'
          description: If specified, the shift must completely cover this time window.
        durationRange:
          $ref: '#/components/schemas/durationInterval'
          description: If specified, the shift must have a duration that falls inside this range.
        gapRange:
          $ref: '#/components/schemas/durationInterval'
          description: If specified, the shift must have a gap (between any two shift intervals) that falls inside this range.
        workTypeIds:
          type: array
          items:
            type: string
          description: If specified, the shift must have at least one of the work types specified in this list.
          uniqueItems: true
    periodsWithoutLabels:
      type: object
      minProperties: 1
      maxProperties: 1
      description: List of periods in the schedule. Periods can either be defined explicitly using custom definitions, or through a recurrent definition. A recurrent definition can be used to easily generate a list of similar periods (such as weeks, months, etc.).
      properties:
        days:
          $ref: '#/components/schemas/daysWithTime'
        customDefinitions:
          type: array
          description: List of custom period definitions. Each custom period definition defines one period in the schedule.
          items:
            $ref: '#/components/schemas/customPeriodDefinition'
        recurrentDefinition:
          $ref: '#/components/schemas/recurrentPeriodDefinition'
    workType:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique identifier.
        factor:
          type: number
          description: Factor by which the hours of worked shifts of this work type will be multiplied to calculate the total FTE hours of an employee. For example, if an employee works 8 hours of shifts with factor 0.5, then the employee's FTE hours for that day is 4.
          default: 1
          minimum: 0
        excludeDayRest:
          type: boolean
          deprecated: true
          description: DEPRECATED.
        name:
          deprecated: true
          type: string
          description: DEPRECATED - Use category instead.
    solverParameters:
      type: array
      description: List of solver parameters used to tweak solver behaviour. Contact dev team for possible parameters. If not defined, default parameters will be used.
      items:
        type: object
        properties:
          name:
            type: string
          value:
            type: string
    matchType:
      type: string
      enum:
        - NONE
        - ANY
        - ALL
      default: ANY
    advancedFilter:
      type: object
      required:
        - field
        - values
      properties:
        field:
          type: string
          description: The field to filter on. Can be "id" or "label".
        values:
          type: array
          description: The values to filter on.
          items:
            type: string
          uniqueItems: true
        matchType:
          description: Defines how the values should be matched. For example, if set to ALL, an entity needs to have all of the specified values to match this filter.
          $ref: '#/components/schemas/matchType'
    advancedFilters:
      type: object
      description: Can be used to define more complex filtering logic (using NOT, AND, OR) for employees or shifts.
      properties:
        filters:
          type: array
          description: List of advanced filters to apply.
          items:
            $ref: '#/components/schemas/advancedFilter'
        matchType:
          description: Defines how the filters should be combined. For example, if set to NONE, an entity needs to not match any of the filters to be included.
          $ref: '#/components/schemas/matchType'
    constraintFiltersShifts:
      type: object
      description: Used to filter which shifts the constraint should be applied to. If not specified, the constraint applies to all shifts.
      properties:
        ids:
          type: array
          items:
            type: string
          description: List of shift ids that the constraint should be applied to.
          uniqueItems: true
        labels:
          type: array
          description: List of shift labels that the constraint should be applied to.
          items:
            type: string
          uniqueItems: true
        advanced:
          $ref: '#/components/schemas/advancedFilters'
    patternDayKeyword:
      type: string
      description: A keyword to represent that a day must be a day off (DAY_OFF), must be a worked day (ANY_SHIFT), or that there are no requirements on this day (ANY).
      enum:
        - DAY_OFF
        - ANY_SHIFT
        - ANY
    patternDay:
      type: object
      minProperties: 1
      properties:
        shifts:
          $ref: '#/components/schemas/constraintFiltersShifts'
        keyword:
          $ref: '#/components/schemas/patternDayKeyword'
        keywords:
          deprecated: true
          type: array
          description: DEPRECATED - Use 'keyword' instead.
          items:
            $ref: '#/components/schemas/patternDayKeyword'
          uniqueItems: true
        shiftIds:
          deprecated: true
          type: array
          items:
            type: string
          uniqueItems: true
        shiftTemplateIds:
          deprecated: true
          type: array
          items:
            type: string
          uniqueItems: true
        shiftTypeIds:
          deprecated: true
          type: array
          items:
            type: string
          uniqueItems: true
        workTypeIds:
          deprecated: true
          type: array
          items:
            type: string
          uniqueItems: true
    shiftPattern:
      type: object
      required:
        - id
        - patternDays
      properties:
        id:
          type: string
          description: Unique identifier.
        patternDays:
          type: array
          description: List of days that make up the pattern. For each pattern day, it can be specified (in various ways) which shifts are allowed to be scheduled on that day in order to satisfy the pattern.
          items:
            $ref: '#/components/schemas/patternDay'
    weekend:
      type: object
      description: Specifies when the weekend starts and ends. Used in the weekend distribution constraint. If not defined, no days will be considered as weekends.
      required:
        - startWeekDay
        - endWeekDay
      properties:
        startWeekDay:
          type: integer
          minimum: 1
          maximum: 7
          description: Index of day on which weekend starts. Can be value [1-7] where 1 = Monday and 7 = Sunday
        startTime:
          $ref: '#/components/schemas/timeStamp'
        endWeekDay:
          type: integer
          minimum: 1
          maximum: 7
          description: Index of day on which weekend ends. Can be value [1-7] where 1 = Monday and 7 = Sunday.
        endTime:
          $ref: '#/components/schemas/timeStamp'
    dayRestRule:
      type: object
      deprecated: true
      required:
        - id
        - type
        - minRestDuration
        - startTime
      properties:
        id:
          type: string
          description: Unique identifier.
        type:
          type: string
          enum:
            - AVERAGE
            - TIME
          description: Decides the two different ways the Solver considers rest. AVERAGE means that the Solver will try to ensure that the average rest over a 24 hour period is at least the specified number of hours. This type can be further modified by setting the 'restConnected' property. The average is calculated by the number of days in the FTECountPeriod. TIME means that the Solver will try to ensure that the rest between two shifts is at least the specified number of hours.
        minRestDuration:
          $ref: '#/components/schemas/duration'
          description: Minimum amount of rest hours that employee should get in a 24 hour period.
        startTime:
          description: Defines when should 24 hour period (to which this rule should be applied to) start. For example, if startTime = 04:00 and minRestDuration = 5 hours this means that from 04:00 today until 04:00 tomorrow employee should have at least 5 hours of rest.
          $ref: '#/components/schemas/timeStamp'
        restConnected:
          type: boolean
          description: |-
            Defines whether rest should be connected (uninterrupted). Setting this to FALSE, means
            that the Solver will sum all rest periods to use as the rest in the 24 hour. See below example.
            Defaults to true.

            time       08  09  10  11  12  13  14  15  16  17  18  19  20  21  22  23 .. 08
            day_1
            rest                       |****3h*****|                           |***10h***|
            shift_rows |------4h-------|           |------------6h-------------|

            day_2
            rest                                       |***************16h***************|
            shift_rows |--------------8h---------------|

            average connected = (10 + 16) / 2 = 13
            average unconnected = (13 + 16) / 2 = 14.5
          default: true
    constraintFiltersEmployees:
      type: object
      description: Used to filter which employees the constraint should be applied to. If not specified, the constraint applies to all employees.
      properties:
        ids:
          type: array
          items:
            type: string
          description: List of employee ids that the constraint should be applied to.
          uniqueItems: true
        labels:
          type: array
          description: List of employee labels that the constraint should be applied to.
          items:
            type: string
          uniqueItems: true
    constraintEmployeeIds:
      type: array
      items:
        type: string
      description: List of employee ids for which the constraint applies. The employee ids must be present in the employee section. If not specified, the constraint will be applied to all employees.
      uniqueItems: true
    constraintShiftIds:
      type: array
      items:
        type: string
      description: List of shift ids for which the constraint applies. The shift ids must be present in the shift section. If not specified, the constraint will be applied to all shifts.
      uniqueItems: true
    constraintShiftTypeIds:
      type: array
      items:
        type: string
      description: List of shift type ids for which the constraint applies. The shift type ids must be present in the shift type section. If not specified, the constraint will be applied to all shift types.
      uniqueItems: true
    constraintWorkTypeIds:
      type: array
      items:
        type: string
      description: List of workType IDs for which the constraint applies. The workTypeIds should be present in workType section. If work type ids are not specified, the constraint will be applied to all work types.
      uniqueItems: true
    taskMinMinutes:
      type: integer
      default: 0
      minimum: 0
      maximum: 10080
    taskMaxMinutes:
      type: integer
      minimum: 5
      maximum: 10080
    taskCooldownMinutes:
      type: integer
      default: 0
      minimum: 0
    cooldown:
      type: object
      required:
        - minutes
      properties:
        minutes:
          type: integer
          description: The number of minutes that must pass after working on this task or task group before working on the Task or Task group specified in this cooldown.
          minimum: 0
        taskId:
          type: string
          description: The id of the task that the cooldown applies to.
        taskGroupId:
          type: string
          description: The id of the task group that the cooldown applies to.
    constraintId:
      type: string
      description: Unique identifier for the constraint.
    constraintLabels:
      type: array
      description: Labels for the constraint. Labels can be used to group constraints together. For example, if multiple constraints are related to the same shift type, they can all be labeled with the same label.
      uniqueItems: true
      items:
        type: string
    importanceWithStrict:
      type: string
      enum:
        - NONE
        - VERY_LOW
        - LOW
        - MEDIUM
        - HIGH
        - VERY_HIGH
        - STRICT
      description: The importance of the constraint. The higher the importance, the more the solver will take the constraint into account. Under strict importance, the constraint may never be violated.
    constraintFilters:
      type: object
      description: Filters to determine the scope of the constraint. Used to indicate what the constraint should be applied to (which employees, which shifts, etc). Leaving this empty means that the constraint always applies.
      properties:
        employees:
          $ref: '#/components/schemas/constraintFiltersEmployees'
        shifts:
          $ref: '#/components/schemas/constraintFiltersShifts'
        employeeIds:
          deprecated: true
          $ref: '#/components/schemas/constraintEmployeeIds'
        shiftIds:
          deprecated: true
          $ref: '#/components/schemas/constraintShiftIds'
        shiftTypeIds:
          deprecated: true
          $ref: '#/components/schemas/constraintShiftTypeIds'
        workTypeIds:
          deprecated: true
          $ref: '#/components/schemas/constraintWorkTypeIds'
    constraintFiltersWork:
      type: object
      description: Defines filtering for specific work that the constraint should be applied to. For example, it can be used to apply the constraint only to work carried out in specific roles.
      properties:
        roles:
          description: Used to apply the constraint only to work carried out in specific roles.
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
              description: |-
                List of role ids that the constraint should be applied to. If not specified, no filtering is applied 
                based on role ids.
              uniqueItems: true
    importance:
      type: string
      enum:
        - NONE
        - VERY_LOW
        - LOW
        - MEDIUM
        - HIGH
        - VERY_HIGH
      description: The importance of the constraint. The higher the importance, the more the solver will take the constraint into account.
    employeeUtilizationFilters:
      type: object
      description: Filters to determine the scope of the constraint. Used to decide which employees and which shifts the constraint should be applied to. Filters use logical OR filtering - an employee or shift is included as long as it is targeted by any of the filters.
      properties:
        employees:
          $ref: '#/components/schemas/constraintFiltersEmployees'
        shifts:
          $ref: '#/components/schemas/constraintFiltersShifts'
        work:
          $ref: '#/components/schemas/constraintFiltersWork'
        employeeIds:
          deprecated: true
          $ref: '#/components/schemas/constraintEmployeeIds'
        roleIds:
          deprecated: true
          type: array
          description: DEPRECATED - Use roles instead.
          uniqueItems: true
          items:
            type: string
        shiftIds:
          deprecated: true
          description: DEPRECATED - Use shifts.ids instead.
          $ref: '#/components/schemas/constraintShiftIds'
        shiftTypeIds:
          deprecated: true
          description: DEPRECATED - Use shifts.labels instead.
          $ref: '#/components/schemas/constraintShiftTypeIds'
        workTypeIds:
          deprecated: true
          $ref: '#/components/schemas/constraintWorkTypeIds'
    overlapRules:
      description: |-
        Specifies overlap thresholds that a shift must meet with the constraint's periods in order for it to be
        counted as relevant for the constraint.
      type: object
      properties:
        minOverlapHours:
          type: integer
          description: |-
            The minimum number of hours that a shift must overlap with the constraint in order to be counted as relevant
            for this constraint.
          minimum: 1
        minOverlapPercentage:
          type: integer
          description: |-
            The minimum percentage of the shift that must overlap with the constraint in order to be counted as relevant
            for this constraint.
          minimum: 1
          maximum: 100
    constraintWeightPositive:
      deprecated: true
      type: integer
      description: DEPRECATED - Use importance instead.
      minimum: 0
      maximum: 100
      default: 0
    constraintFairness:
      deprecated: true
      type: object
      description: DEPRECATED - Use FairnessConstraints instead.
      properties:
        fairnessWeight:
          type: integer
          description: Describes how much fairness is taken into account when solving the schedule. The higher the value, the more the solver will try to make the constraint as fair as possible.
          minimum: 0
          maximum: 100
          default: 0
        fteAdjustedFairness:
          type: boolean
          description: |-
            When true, the fairness weight is adjusted relative to total required FTE minutes.
            In example, if we have two employees with required FTE hours 20 and 100, and fairness weight 100,
            then solver (when fteAdjustedFairness=false) will try to make allocated hours fair by
            allocating same amount of hours to both employees. On the other hand, if fteAdjustedFairness=true,
            then solver will try to make allocated FTE minutes fair by allocating 5 times more hours to the
            employee with required 100 FTE hours.
          default: false
    cooldownStartsOrEnds:
      type: object
      properties:
        shifts:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
              description: |-
                List of shift ids that the constraint should be applied to. If not specified, no filtering is applied 
                based on shift ids.
              uniqueItems: true
            labels:
              type: array
              items:
                type: string
              uniqueItems: true
            advanced:
              $ref: '#/components/schemas/advancedFilters'
            filters:
              description: DEPRECATED - Use 'advanced' instead.
              type: array
              items:
                $ref: '#/components/schemas/advancedFilter'
            matchType:
              description: DEPRECATED - Use 'advanced' instead.
              $ref: '#/components/schemas/matchType'
    cooldownTargets:
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        minHours:
          description: Minimum number of hours that the cooldown should last.
          type: number
          minimum: 1
        minDays:
          description: Minimum number of days that the cooldown should last.
          type: integer
          minimum: 1
    cooldownConstraintScope:
      type: object
      properties:
        employees:
          $ref: '#/components/schemas/advancedFilters'
    emptyDayBehaviour:
      type: string
      default: INCLUDE
      enum:
        - INCLUDE
        - EXCLUDE
        - MATCH
    scope:
      description: Defines the employees and shifts for which this constraint applies.
      type: object
      properties:
        employees:
          description: Describes which employees the constraint applies to. If not specified, the constraint applies to all employees.
          $ref: '#/components/schemas/advancedFilters'
        shifts:
          description: Describes which shifts the constraint applies to. If not specified, the constraint applies to all shifts.
          $ref: '#/components/schemas/advancedFilters'
    objective:
      type: string
      enum:
        - IGNORE
        - MINIMIZE
        - MAXIMIZE
      default: IGNORE
    layoutObjectives:
      type: object
      minProperties: 1
      properties:
        groupSize:
          description: Indicates whether small/large groups are preferred (or whether this is not relevant).
          $ref: '#/components/schemas/objective'
        groupSeparation:
          description: Indicates whether groups should be placed close together or spread out (or whether this is not relevant).
          $ref: '#/components/schemas/objective'
    consecutiveTargets:
      type: object
      properties:
        min:
          type: integer
          description: The minimum number of consecutive entities that an employee should ideally work. This cannot be set as a strict limit and will be treated as a target instead.
          minimum: 1
        max:
          type: integer
          description: The maximum number of consecutive entities that an employee can work. Currently only supports importance STRICT.
          minimum: 1
    rotationConstraintTargets:
      type: object
      required:
        - rotationAmount
      properties:
        rotationAmount:
          type: integer
          minimum: 0
    rotationConstraintScope:
      description: Defines the employees and shifts for which this constraint applies.
      type: object
      properties:
        employees:
          description: Describes which employees the constraint applies to. If not specified, the constraint applies to all employees.
          $ref: '#/components/schemas/advancedFilters'
    priorityScore:
      type: integer
      description: A score of the priority of an employee covering a demand. The normal score can range from 0 to 100. A score of -1 can be used to denote that the employee can not cover (a part of) the demand under any circumstances. If no defaultScore is defined, a default score of 0 will be used.
      minimum: -1
      maximum: 100
      default: 0
    constraintWeightFullRange:
      type: integer
      deprecated: true
      description: DEPRECATED - Use importance instead.
      minimum: -100
      maximum: 100
      default: 0
    workingTimePreferenceInterval:
      type: object
      description: |-
        This is an interval used in the workingTimePreferenceConstraint. It defines days, a start and end time, and 
        type of work.
      required:
        - startTime
        - endTime
      properties:
        scheduleDays:
          $ref: '#/components/schemas/scheduleDays'
        startTime:
          $ref: '#/components/schemas/timeStamp'
        endTime:
          $ref: '#/components/schemas/timeStamp'
        workTypeIds:
          $ref: '#/components/schemas/constraintWorkTypeIds'
    rosterId:
      type: string
      description: Identifier for this roster.
    organisationId:
      type: string
      description: Identifier for the organisation/user that has requested this roster.
    demandType:
      description: Type of demand that will be used in this job.
      type: string
      enum:
        - SHIFT_DEMAND
        - TIME_DEMAND
    scheduleDay:
      type: object
      description: Defines a day in the planning horizon. If the schedule type is RECURRING, then dayIndex must be specified, and if the schedule type is CALENDAR, then date must be specified.
      minProperties: 1
      maxProperties: 1
      properties:
        dayIndex:
          $ref: '#/components/schemas/dayIndex'
        date:
          $ref: '#/components/schemas/date'
    planningHorizon:
      type: object
      description: Specifies the planning horizon for which a roster will be created. The required properties depend on the chosen scheduleType.
      required:
        - startDate
      properties:
        startDate:
          $ref: '#/components/schemas/date'
          description: Format YYYY-MM-DD. The start date of the planning horizon. The solver will only schedule shifts for days within the planning horizon. If you need to include locked shifts outside the period for which you have demands, the planning horizon should be extended to include these days. For "RECURRING" jobs, this must be the first Monday of the first week.
        endDate:
          $ref: '#/components/schemas/date'
          description: Format YYYY-MM-DD. Only required for "CALENDAR" jobs. The end date of the planning horizon. The solver will only schedule shifts for days within the planning horizon. If you need to include locked shifts outside the period for which you have demands, the planning horizon should be extended to include these days.
        nrOfWeeks:
          minimum: 1
          type: integer
          description: Only required for "RECURRING" jobs. The number of weeks in the planning horizon.
        fteStartDay:
          $ref: '#/components/schemas/scheduleDay'
          description: The start day of the period where FTE is counted. Any work planned outside this period will not be counted towards FTE.
        fteEndDay:
          $ref: '#/components/schemas/scheduleDay'
          description: The end day of the period where FTE is counted. Any work planned outside this period will not be counted towards FTE.
    jobInfo:
      type: object
      description: Details about the job that the solver will solve.
      required:
        - id
        - organisationId
        - scheduleType
        - demandType
        - planningHorizon
      properties:
        id:
          $ref: '#/components/schemas/rosterId'
        organisationId:
          $ref: '#/components/schemas/organisationId'
        scheduleType:
          description: Type of schedule that the solver should create.
          type: string
          enum:
            - CALENDAR
            - RECURRING
        demandType:
          $ref: '#/components/schemas/demandType'
        planningHorizon:
          $ref: '#/components/schemas/planningHorizon'
    employee:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique identifier for this employee.
        labels:
          type: array
          description: List of labels assigned to this employee. Labels can be used in constraints to group employees.
          items:
            type: string
          uniqueItems: true
        attributes:
          description: List of attributes that this employee has. Shifts, demands and tasks can have requirements on the attributes that an employee has.
          type: array
          items:
            $ref: '#/components/schemas/attribute'
        roles:
          description: List of roles that this employee can work in. Each role can have additional attributes that the employee has when working in that role. Note that roles are not required, and an employee can work without any roles for.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this role.
              attributes:
                type: array
                description: List of additional attributes this employee has when they work in this role.
                items:
                  $ref: '#/components/schemas/attribute'
        preassignedShifts:
          type: array
          description: List of assignments that are pre-assigned to this employee.
          items:
            $ref: '#/components/schemas/preassignedShift'
        isReadOnly:
          type: boolean
          description: If set to true, the employee will only work their preassigned shifts. These will not be altered, and the solver will not assign new shifts to this employee.
          default: false
        scheduledShifts:
          type: array
          deprecated: true
          description: DEPRECATED - Use preassignedShifts instead.
          items:
            $ref: '#/components/schemas/scheduledShift'
        readOnly:
          type: boolean
          deprecated: true
          description: DEPRECATED - Use isReadOnly instead.
          default: false
        workTime:
          deprecated: true
          type: object
          description: DEPRECATED - Use EmployeeUtilizationConstraints instead. New shorthands are under development.
          properties:
            maxHoursInFTECountPeriod:
              type: number
              description: Maximum allowed hours for this employee over the entire roster. If specified, the solver will try to fully utilize the employee's available hours, but will never exceed this limit.
            weekHoursRules:
              type: object
              description: Describes rules for weekly (or rolling seven day periods) work time for the employee.
              properties:
                minWeekHours:
                  type: integer
                  description: Desired minimum number of hours per week for this employee. The solver penalizes solutions where the employee has weeks where they work less than this amount.
                  minimum: 0
                  maximum: 168
                maxWeekHours:
                  type: integer
                  description: Desired maximum number of hours per week for this employee. The solver penalizes solutions where the employee has weeks where they work more than this amount.
                  minimum: 0
                  maximum: 168
                maxWeekHoursWeight:
                  type: integer
                  description: How strongly the solver should penalize solutions where the employee works more than the maxWeekHours. The higher the value, the more the solver will try to avoid solutions where the employee works more than the maxWeekHours. When set to 100 (default), the solver will never exceed the maxWeekHours.
                  default: 100
                  minimum: 0
                  maximum: 100
                applyMaxWeekHoursToAnySevenConsecutiveDays:
                  type: boolean
                  description: If true, the maxWeekHours rule will apply to any seven consecutive days, not just the seven days of the week. Defaults to false.
                  default: false
        dayRestRuleId:
          type: string
          deprecated: true
          description: DEPRECATED - Use PeriodicRestConstraint instead.
    demand:
      type: object
      properties:
        days:
          description: List of days on which this demand exists. Multiple demands can exist on the same day.
          type: object
          properties:
            dates:
              description: List of dates in the schedule. Only allowed in CALENDAR payloads.
              type: array
              uniqueItems: true
              items:
                $ref: '#/components/schemas/date'
            dayIndices:
              description: List of day indices in the schedule. Only allowed in RECURRING payloads.
              type: array
              uniqueItems: true
              items:
                $ref: '#/components/schemas/dayIndex'
            daysOfWeek:
              description: List of days of the week. Will apply to all days in the schedule that match any of the specified weekdays.
              type: array
              uniqueItems: true
              items:
                $ref: '#/components/schemas/dayOfWeek'
            dayIndexes:
              deprecated: true
              description: DEPRECATED - Use dayIndices instead.
              $ref: '#/components/schemas/dayIndexes'
        shiftDemands:
          description: List of shift demands that exist on the days specified in the days field.
          type: array
          items:
            $ref: '#/components/schemas/shiftDemand'
        timeDemands:
          description: List of time demands that exist on the days specified in the days field.
          type: array
          items:
            $ref: '#/components/schemas/timeDemand'
    shift:
      type: object
      required:
        - id
        - intervals
      properties:
        id:
          type: string
          description: Unique identifier for the shift.
        labels:
          type: array
          description: List of labels assigned to this shift. Labels can be used in constraints to group shifts.
          items:
            type: string
          uniqueItems: true
        isReadOnly:
          type: boolean
          description: If set to true, the shift will not be assigned by the solver. Read only shifts will not be used in new assignments by the solver, their use is limited to preassigned shifts. Read only shifts can still be used to cover demand.
          default: false
        canCoverDemand:
          type: boolean
          description: Only relevant for preassigned shifts. If set to false, assignments of this shift will not contribute towards demand coverage. Shifts that cannot cover demand will not be used in new assignments by the solver, their use is limited to preassigned shifts.
          default: true
        availableDays:
          $ref: '#/components/schemas/days'
          description: Days on which this shift is available to be assigned. If not set, the shift is always available.
        intervals:
          type: array
          description: List of intervals that this shift consists of. The maximum duration of a shift is 72 hours.
          minItems: 1
          items:
            $ref: '#/components/schemas/shiftInterval'
        connectedShiftsPreviousDay:
          description: List of shifts that are connected to this shift on the previous day. If defined, this shift will always be preceded by one of the connected shifts the previous day.
          $ref: '#/components/schemas/connectedShifts'
        connectedShiftsNextDay:
          description: List of shifts that are connected to this shift on the next day. If defined, this shift will always be followed by one of the connected shifts the next day.
          $ref: '#/components/schemas/connectedShifts'
        attributeRequirements:
          description: List of requirements on the attributes that an employee needs to be eligible to work this Shift. If an employee does not meet all of the requirements, the employee can not work this Shift.
          type: array
          items:
            $ref: '#/components/schemas/attributeRequirement'
        allowedDays:
          $ref: '#/components/schemas/scheduleDays'
          deprecated: true
          description: DEPRECATED - Use availableDays instead.
        readOnly:
          type: boolean
          deprecated: true
          description: DEPRECATED - Use isReadOnly instead.
          default: false
        shiftTypes:
          deprecated: true
          type: array
          description: DEPRECATED - Use labels instead.
          uniqueItems: true
          items:
            type: string
    timeSlot:
      type: object
      required:
        - id
        - startTime
        - endTime
      properties:
        id:
          type: string
        startTime:
          description: Start time of this time slot.
          $ref: '#/components/schemas/timeStamp'
        endTime:
          description: End time of this time slot.
          $ref: '#/components/schemas/timeStamp'
        canBeShared:
          type: boolean
          description: Determines if the time slot can be "split" and covered by more than one employee. If set to false, the same employee has to cover the entire time slot from start to end.
          default: true
        taskId:
          type: string
          description: Task id of the task to do during this time slot. The task needs to be defined in the configuration part of the payload. If an employee does not meet the requirements for the task, they can not cover this time slot.
        attributeRequirements:
          description: List of requirements on the attributes that an employee needs to be eligible to cover this time slot. If an employee does not meet all of the requirements, the employee can not cover this time slot.
          type: array
          items:
            $ref: '#/components/schemas/attributeRequirement'
        workTypeId:
          deprecated: true
          type: string
        assignmentId:
          deprecated: true
          type: string
    employeeAvailabilityConstraint:
      type: object
      description: ''
      required:
        - id
        - importance
        - isDesired
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        isDesired:
          type: boolean
          description: If set to true, it will be considered preferable for employees to work the shifts that this constraint applies to during the specified periods. If set to false, the solver will try to avoid assigning applicable shifts to employees during the specified periods. If importance is set to strict, this must be false.
        filters:
          $ref: '#/components/schemas/constraintFilters'
        periods:
          $ref: '#/components/schemas/periods'
    employeeUtilizationConstraint:
      type: object
      description: |-
        This constraint can be used to set targets for the number of hours worked by employees. The minimum number
        of hours is treated as a target, while the maximum number of hours acts as a hard limit and will never be exceeded.
        The constraint can be applied to specific employees, work types, or shifts. The constraint can also be applied to
        a specific time period, in which case it will act as a target for the number of hours worked in that period.
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importance'
        filters:
          $ref: '#/components/schemas/employeeUtilizationFilters'
        targets:
          description: |-
            Specifies the target utilization for the constraint. Targets can be specified in number of FTE hours, or in
            number of shifts worked during the period.
          type: object
          properties:
            minHours:
              type: number
              description: |-
                The minimum number of hours that should be worked by employees on shifts that match the constraint in each period.
                This is treated as a target - it is not guaranteed that the number of hours worked will be greater than
                this value.
            idealHours:
              type: number
              description: |-
                The ideal number of hours that should be worked by employees on shifts that match the constraint in each period.
                This is treated as a target - it is not guaranteed that the number of hours worked will be exactly this value.
            maxHours:
              type: number
              description: |-
                The maximum number of hours that should be worked by employees on shifts that match the constraint in each period.
                This is treated as a hard limit - the number of hours worked will never exceed this value.
            minShifts:
              type: integer
              description: |-
                The minimum number of shifts that match the constraint that an employee should work in each period.
                This is treated as a target - it is not guaranteed that the number of shifts worked will be greater than
                this value.
            idealShifts:
              type: integer
              description: |-
                The ideal number of shifts that match the constraint that an employee should work in each period.
                This is treated as a target - it is not guaranteed that the number of shifts worked will be exactly this value.
            maxShifts:
              type: integer
              description: |-
                The maximum number of shifts that match the constraint that an employee should work in each period.
                This is treated as a hard limit - the number of shifts worked will never exceed this value.
        bonusTime:
          description: Settings to determine if and how bonus time rules affect the constraint.
          type: object
          properties:
            includeBonusHours:
              type: boolean
              description: Whether or not bonus hours should be included in the calculation of an employee's total hours worked for the constraint.
              default: true
            averageHoursThreshold:
              type: number
              description: |-
                If a threshold is provided, bonus hours will only be included in the calculation of an employee's total hours
                worked if the average bonus hours per period exceed this threshold.
              minimum: 0
            averageHoursCap:
              type: number
              description: |-
                If a cap is provided, the average number of bonus hours per period will be capped at this value. The employee 
                can be eligible for more bonus hours, but they will not be counted beyond this cap.
              minimum: 0
        defaultTime:
          description: Settings to determine if and how default time rules affect the constraint.
          type: object
          properties:
            includeDefaultHours:
              type: boolean
              description: Whether or not default hours should be included in the calculation of an employee's total hours worked for the constraint.
              default: true
            minOverlapHours:
              type: number
              description: |-
                The minimum number of hours that this constraint should overlap with a day where a default time rule is active.
                If the overlap is below this amount, the hours from the default time rule will not be counted for this constraint.
        overlapRules:
          description: |-
            Specify when a scheduled shift should count towards the targets of this constraint. If both minOverlapHours
            and minOverlapPercentage are specified, shifts will be counted if they satisfy either requirement. If the
            overlapRules object is not defined, shifts are counted if they have any overlap with the constraint.
          $ref: '#/components/schemas/overlapRules'
        periods:
          $ref: '#/components/schemas/periods'
          description: The periods in which the constraint should be applied. The minHours and maxHours will be applied to each period separately.
        weight:
          $ref: '#/components/schemas/constraintWeightPositive'
        scheduleDays:
          deprecated: true
          description: DEPRECATED - Use periods instead.
          $ref: '#/components/schemas/scheduleDays'
        minHours:
          type: integer
          deprecated: true
          description: DEPRECATED - Use targets instead.
        maxHours:
          type: integer
          deprecated: true
          description: DEPRECATED - Use targets instead.
        minShifts:
          type: integer
          deprecated: true
          description: DEPRECATED - Use targets instead.
        maxShifts:
          type: integer
          deprecated: true
          description: DEPRECATED - Use targets instead.
        employeeIds:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/constraintEmployeeIds'
        shiftIds:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/constraintShiftIds'
        roleIds:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          type: array
          uniqueItems: true
          items:
            type: string
        fairness:
          $ref: '#/components/schemas/constraintFairness'
    patternConstraint:
      type: object
      required:
        - id
        - importance
        - isDesired
        - patterns
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        isDesired:
          description: |-
            If set to true, the solver will try to make employees follow the specified patterns. Else, it will try to avoid
            making employees follow any of the specified patterns.
          type: boolean
        filters:
          type: object
          description: Filters to determine the scope of the constraint. Used to decide which employees the constraint should be applied to.
          properties:
            employees:
              $ref: '#/components/schemas/constraintFiltersEmployees'
        periods:
          description: |-
            Defines the periods in which a pattern should be followed. Periods may not overlap, and are not applicable
            for undesired patterns. For desired patterns, the solver will try to make each employee follow exactly one of
            the available patterns in each period. Therefore, the patterns should be defined such that each instance of
            a pattern is always entirely within a single period.
          $ref: '#/components/schemas/periods'
        patterns:
          type: array
          items:
            type: object
            required:
              - patternDays
            properties:
              patternDays:
                type: array
                description: |-
                  Defines the pattern that should be followed. Each element in the array represents a day in the pattern. 
                  Note that DAY_OFF is not allowed on strict undesired pattern constraints.
                items:
                  $ref: '#/components/schemas/patternDay'
              startDays:
                description: |-
                  Defines the days on which this pattern starts. Defaults to the first day of each period (if periods are
                  specified), or to each day of the schedule (if periods are not specified).
                $ref: '#/components/schemas/days'
              isRepeating:
                type: boolean
                default: false
                description: |-
                  If set to true, each instance of the pattern will be repeated from its start day until the end of 
                  the period that the instance falls within. Otherwise, the pattern is not repeated.
              startOffsets:
                type: integer
                default: 0
                description: |-
                  The offset that the pattern may start with on the start day. If set to 0, the pattern must start with
                  the first pattern day on each start day. If set to 1, the pattern may start from any of its pattern days
                  on the start day. If set to 7 (for example), the pattern may start with every 7th pattern day on the
                  start day. The pattern is then continued as usual.
              varyPatternByOffsets:
                deprecated: true
                type: integer
                description: 'DEPRECATED: Use startOffsets instead.'
              allowRotations:
                deprecated: true
                type: boolean
                default: false
                description: 'DEPRECATED: Use startOffsets instead.'
        emptyDayBehaviours:
          description: Describes whether the pattern should skip over days that could be considered irrelevant for the pattern.
          type: object
          properties:
            dayOutsideSchedule:
              description: |-
                Describes whether the pattern counts days outside the schedule period as days in the pattern. The pattern can
                either always include them (INCLUDE), skip over them (EXCLUDE) or only include them if the pattern allows for a
                day off on that day (MATCH). Takes priority over the dayWithoutDemand and dayOff properties.
              $ref: '#/components/schemas/emptyDayBehaviour'
            dayWithoutDemand:
              description: |-
                Describes whether the pattern counts days without demand as days in the pattern. The pattern can either
                always include them (INCLUDE), skip over them (EXCLUDE) or only include them if the pattern allows for a
                day off on that day (MATCH).
              $ref: '#/components/schemas/emptyDayBehaviour'
            dayOff:
              description: |-
                Describes whether the pattern counts days off as days in the pattern. The pattern can either always
                include them (INCLUDE), skip over them (EXCLUDE) or only include them if the pattern allows for a day
                off on that day (MATCH).
              $ref: '#/components/schemas/emptyDayBehaviour'
        employeeIds:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/constraintEmployeeIds'
    periodicRestConstraint:
      type: object
      description: |-
        This constraint defines the minimum duration of continuous rest that an employee should have within a given period.
        One periodic rest constraint can be applied to multiple periods. For example, the constraint can be used to 
        require that each employee receives at least 48 hours of rest within each 7-day period. The constraint can be
        applied to specific employees, and can be configured to only include specific shifts or work types when calculating
        the realized rest duration.
      required:
        - id
        - minimumContinuousRestDuration
        - periods
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        filters:
          $ref: '#/components/schemas/constraintFilters'
        minimumContinuousRestDuration:
          $ref: '#/components/schemas/duration'
          description: The minimum duration of continuous rest the employee should have in each period. For example, if the minimumContinuousRestDuration is set to 24 hours, the employee should have at least one 24-hour long continuous rest within each period.
        periods:
          $ref: '#/components/schemas/periods'
          description: The periods in which the constraint should be applied.
        employeeIds:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/constraintEmployeeIds'
        shiftIds:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/constraintShiftIds'
        weight:
          $ref: '#/components/schemas/constraintWeightPositive'
        fairness:
          $ref: '#/components/schemas/constraintFairness'
    periodDistributionConstraint:
      type: object
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        filters:
          $ref: '#/components/schemas/constraintFilters'
        minWorkedPeriods:
          type: integer
          description: The minimum amount of periods in which the employee should work. This is treated as a target instead of a strict limit.
          minimum: 0
        maxWorkedPeriods:
          type: integer
          description: The maximum amount of periods in which the employee can work.
          minimum: 0
        maxConsecutiveWorkedPeriods:
          type: integer
          description: The maximum amount of consecutive periods in which the employee can work.
          minimum: 1
        minSurroundingFreePeriods:
          type: integer
          description: The minimum amount of non-worked periods both before and after a worked period.
          minimum: 0
        overlapRules:
          description: Specify when a shift should count as working a period.
          $ref: '#/components/schemas/overlapRules'
        periods:
          $ref: '#/components/schemas/periods'
        fairness:
          $ref: '#/components/schemas/constraintFairness'
        weight:
          $ref: '#/components/schemas/constraintWeightPositive'
        isStrict:
          deprecated: true
          type: boolean
    cooldownConstraint:
      type: object
      required:
        - id
        - importance
        - targets
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        filters:
          type: object
          properties:
            employees:
              $ref: '#/components/schemas/constraintFiltersEmployees'
        starts:
          description: Defines the types of work that will trigger a cooldown. Currently, only filters on shifts are supported as starts.
          $ref: '#/components/schemas/cooldownStartsOrEnds'
        ends:
          description: Defines the types of work that should be avoided during a cooldown. Currently, only filters on shifts are supported as ends.
          $ref: '#/components/schemas/cooldownStartsOrEnds'
        targets:
          description: Defines the desired minimum duration of the cooldown. Can be defined in either hours or days.
          $ref: '#/components/schemas/cooldownTargets'
        periods:
          description: |-
            Defines the periods in which the cooldown constraint should be applied. If specified, cooldowns can only be 
            triggered by work that occurs within the specified periods. The cooldown itself will remain active until the
            target duration has passed, regardless of whether it coincides with the specified periods.
          $ref: '#/components/schemas/periods'
        scope:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/cooldownConstraintScope'
    prioritizationConstraint:
      type: object
      description: |-
        A soft constraint. This constraint will take priorities into account when deciding which employees to schedule.
        These priorities can be defined for either employees and timeSlots, or employees and shifts. So, given a timeSlot or 
        a shift, an employee with a higher priority score for this timeSlot/shift will be more likely to be scheduled than 
        an employee with a lower priority score for this timeSlot/shift. A priority score of -1 can be used to indicate
        that an employee must not be scheduled for a timeSlot/shift under any circumstances, making it a hard constraint.

        Just like other constraints, the weight of this constraint denotes how important the constraint is compared to other constraints.
        However, when multiple prioritizationConstraints are sent in, their weights have a slightly different effect:

        * When multiple prioritizationConstraints are sent in, the priority scores in the matrices are combined 
        using their weight to determine the "overall priorities": how prioritized employees are overall to be scheduled
        for a timeSlot/shift.

        * These "overall priorities" have reached their maximum relative importance compared to the other constraints, 
        when the weights of all prioritizationConstraints sum to 100 or more. I.e. increasing the weights more will not make the 
        prioritizations more important compared to other constraints.

        NOTE: Either timeSlotGroups (for Employee-TimeSlot Prioritization) or shiftGroups (for Employee-Shift Prioritization)
        must be specified. 

        EXAMPLE
          employeeGroups: [[employee1], [employee2]]
          demandGroups: [[MON, WED], [FRI]]

          Prioritization:
          demands      |[MON,WED]|[FRI]|
          [employee1]  |   50    | 90  |
          [employee2]  |   50    | 30  |

          PENALIZED
          week               |MON|TUE|WED|THU|FRI|SAT|SUN|
          employee1 working  | X |   | X |   |   |   |   |
          employee2 working  |   |   |   |   | X |   |   |
          explanation -> employee2 covers the demand on Friday even though employee1 has a higher priority.
                         This results in this solution getting a penalty.

          NOT PENALIZED
          week               |MON|TUE|WED|THU|FRI|SAT|SUN|
          employee1 working  | X |   |   |   | X |   |   |
          employee2 working  |   |   | X |   |   |   |   |
          explanation -> employee1 is scheduled on Friday instead of employee2, because employee1 has a higher priority.
                         There is no penalty for this solution.
      required:
        - id
        - employeeGroups
        - scoreMatrix
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importance'
        defaultScore:
          $ref: '#/components/schemas/priorityScore'
        employeeGroups:
          type: array
          description: Groupings of employees that have the same priority score for all demands/shifts. If no employees share the same priority scores, then the employees should be in groups of size one. An employee can either be in one group or in no group. It cannot be in several groups. Employees that aren't in any group will be given the default score for all demands/shifts.
          minItems: 1
          items:
            type: object
            required:
              - employeeIds
            description: Defines an employee group where all employees have the same priority score for all demands/shifts.
            properties:
              employeeIds:
                $ref: '#/components/schemas/constraintEmployeeIds'
              employeeGroupLabel:
                type: string
                description: A label for the employee group.
        timeSlotGroups:
          type: array
          description: Used when prioritization is defined for employees and timeSlots. This array contains groups of timeSlots for which the prioritization of employees is the same. If all timeSlots are differently prioritized, then each timeSlotGroup will be of size one. A timeSlot can either be in one group or in no group. It cannot be in several groups. timeSlots that aren't in any group will be given the default score for all employees.
          minItems: 1
          items:
            type: object
            required:
              - timeSlotIds
            description: Defines a timeSlot group for which the prioritization of employees is the same.
            properties:
              timeSlotIds:
                type: array
                description: A group of timeSlotIds for which the prioritizations of employees is the same. The timeSlotIds should be present in the timeSlot section.
                uniqueItems: true
                items:
                  type: string
              timeSlotGroupLabel:
                type: string
                description: A label for the time slot group.
        shiftGroups:
          type: array
          description: Used when prioritization is defined for employees and shifts. This array contains groups of shifts for which the prioritization of employees is the same. If all shifts are differently prioritized, then each shiftGroup will be of size one. A shift can either be in one group or in no group. It cannot be in several groups. Shifts that aren't in any group will be given the default score for all employees.
          minItems: 1
          items:
            type: object
            required:
              - shiftIds
            description: Defines a shift group for which the prioritization of employees is the same.
            properties:
              shiftIds:
                type: array
                description: A group of shiftIds for which the prioritization of employees is the same. The shiftIds should be present in the *shifts* part of the payload.
                uniqueItems: true
                items:
                  type: string
              shiftGroupLabel:
                type: string
                description: A label for the shift group.
        scoreMatrix:
          type: array
          description: Matrix with rows of employee groups and columns of demand or shift groups. The order of these groups in the rows and columns is the same as the order of the groups in *employeeGroups* and *demandGroups* or *shiftGroups*. The matrix contains the priority scores that employees in the groups have for all demands/shifts in the groups. The format of this matrix is an array of arrays. The "outer" array contains the rows of the matrix. One "inner" array therefore contains all priority scores of one employee group.
          minItems: 1
          items:
            type: array
            description: Row of the matrix, containing priority scores for all demand/shift groups for one employee group.
            minItems: 1
            items:
              $ref: '#/components/schemas/priorityScore'
        weight:
          $ref: '#/components/schemas/constraintWeightPositive'
    continuityConstraint:
      type: object
      description: |-
        This constraint defines groups of shifts where it is preferred for the shifts within a group to be assigned to the same employee.
        The solver will give preference to solutions where the number of distinct employees that are assigned shifts from within a group is as low as possible.
        The implementation of the weights of this constraint is a work in progress, so weights currently do not have any effect.
      required:
        - id
        - continuityGroups
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        continuityGroups:
          type: array
          description: Groupings of shifts which should preferably be handled by a low number of distinct employees. Currently, a shift can only be part of one continuityGroup per continuityConstraint.
          minItems: 1
          items:
            type: object
            required:
              - shiftIds
            properties:
              shiftIds:
                type: array
                description: A group of shiftIds that should preferably be assigned to as few distinct employees as possible. The shiftIds should be present in the shiftInfo section.
                uniqueItems: true
                items:
                  type: string
              shiftGroupLabel:
                type: string
                description: An optional descriptive label for the shift group.
              scheduleDays:
                description: The days on which the continuity constraint should be active for this group. You can use this to encourage the solver to ensure continuity within a specific time period. When left empty, this continuity group will be active for the entire scheduling period.
                $ref: '#/components/schemas/scheduleDays'
        weight:
          $ref: '#/components/schemas/constraintWeightPositive'
        isStrict:
          deprecated: true
          type: boolean
          default: false
    layoutConstraint:
      type: object
      required:
        - id
        - importance
        - objectives
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importance'
        filters:
          $ref: '#/components/schemas/constraintFilters'
        scope:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/scope'
        objectives:
          description: Describes the targets for this constraint. Targets can indicate whether small/large groups are preferred and whether groups should be placed close together or spread out.
          $ref: '#/components/schemas/layoutObjectives'
    consecutiveConstraint:
      type: object
      description: This constraint can be used to set targets on the number of consecutive entities that an employee works.
      required:
        - id
        - importance
        - targets
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        filters:
          $ref: '#/components/schemas/constraintFilters'
        scope:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/scope'
        targets:
          $ref: '#/components/schemas/consecutiveTargets'
    rotationConstraint:
      type: object
      required:
        - id
        - importance
        - targets
        - periods
      properties:
        id:
          $ref: '#/components/schemas/constraintId'
        labels:
          $ref: '#/components/schemas/constraintLabels'
        importance:
          $ref: '#/components/schemas/importanceWithStrict'
        filters:
          type: object
          description: Filters to determine the scope of the constraint. Used to decide which employees the constraint should be applied to.
          properties:
            employees:
              $ref: '#/components/schemas/constraintFiltersEmployees'
        targets:
          $ref: '#/components/schemas/rotationConstraintTargets'
        periods:
          description: The periods in which the constraint should be applied.
          $ref: '#/components/schemas/periods'
        assignedRotations:
          type: array
          description: List of employees that have been assigned to specific rotations. The solver will try to ensure that these employees follow the specified rotations as much as possible.
          items:
            type: object
            required:
              - rotationIndex
              - employeeIds
            properties:
              rotationIndex:
                type: integer
                description: The index of the rotation that the employees are assigned to. Starts at 0.
              employeeIds:
                type: array
                description: List of employee ids that are assigned to the rotation.
                uniqueItems: true
                items:
                  type: string
        assignedPeriods:
          type: array
          description: List of employees that have been assigned to specific periods already. The solver will try to ensure that these employees work during the specified periods as much as possible.
          items:
            type: object
            required:
              - employeeId
              - periodIndices
            properties:
              employeeId:
                type: string
                description: The id of the employee that is assigned to the period.
              periodIndices:
                type: array
                description: List of period indices that the employee is assigned to. Starts at 0.
                uniqueItems: true
                items:
                  type: integer
        scope:
          deprecated: true
          description: DEPRECATED - Use filters instead.
          $ref: '#/components/schemas/rotationConstraintScope'
    restBetweenShiftsConstraint:
      type: object
      description: |-
        Soft constraint when the weight is below 100, hard constraint when the weight is set to 100.
        This constraint allows you to set the minimum rest length between shifts.
        For example, if you set the minimum rest between shifts to 3 hours, the employee must have at least 3 hours
[...]
