openapi: 3.1.0
info:
  title: Automatic Rostering
  description: |-
    # Visma Connect Token Retrieval

    1. Create a POST request to the Visma Connect API:
       - For the stage environment, use: [https://connect.identity.stagaws.visma.com/connect/token](https://connect.identity.stagaws.visma.com/connect/token)
       - For the production environment, use: [https://connect.visma.com/connect/token](https://connect.visma.com/connect/token)

    2. In the header of your request, specify `Content-Type: application/x-www-form-urlencoded`.

    3. In the request body, specify the following parameters:
       - `grant_type: client_credentials`
       - `client_id: YOUR_ID_FROM_STEP_1.3`
       - `client_secret: YOUR_SECRET_FROM_STEP_1.9`
       - `scope: SCOPE_FROM_STEP_1.7`

    4. Send the request and retrieve the `access_token` from the response.

    5. Include the `Authorization` header with the `Bearer YOUR_ACCESS_TOKEN` for all your requests to the Automatic Rostering API.

    6. You are now ready to make requests to the Automatic Rostering API.

    For more information about Visma Connect OAuth 2.0 Bearer Token Authentication, refer to [Visma Connect Confluence](https://confluence.visma.com/display/PROV/Visma+Connect+OAuth+2.0+Bearer+Token+Authentication).
  version: json_alpha
servers:
  - url: https://api.optimization-rostering.stag.visma.net
    description: Stage (dev) environment
  - url: https://api.optimization-rostering.prod.visma.net
    description: Production environment
tags:
  - name: roster
    x-displayName: Create roster
    description: Endpoints for starting, stopping, and retrieving scheduling jobs
  - name: analyze
    x-displayName: Analyze (WIP)
    description: Endpoint for analyzing job requests
  - name: feasibility
    x-displayName: Feasibility
    description: Endpoints for checking feasibility of jobs
  - name: problem-model
    x-displayName: Roster request
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/request" />
paths:
  /jobs:
    post:
      tags:
        - roster
      summary: Start job
      description: Creates and immediately starts a new job for the solver.
      security:
        - vismaConnectBearer: []
      parameters:
        - in: header
          name: CUSTOMER_ID
          schema:
            type: string
          required: true
          example: resolve
        - in: header
          name: USER_ID
          schema:
            type: string
          required: true
          example: dev_team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request"
      responses:
        "202":
          description: Job accepted for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job"
        "400":
          description: Payload defined in request body is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/badRequest"
        "406":
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Not Acceptable. Supported Accept types are application/xml,
                application/json
        "415":
          description: Defined Content-Type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Unsupported content type. Supported Content-Types are application/xml,
                application/json
      x-mint:
        metadata:
          mode: wide
  /jobs/{id}:
    get:
      tags:
        - roster
      summary: Get job status
      description: Returns the current state of the specified solver job, including
        whether it is still running or has stopped.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Job status retrieved successfully. Check payload body for status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_status"
        "404":
          description: Job with given ID not found
        "406":
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: "Supported Accept header values: application/json, application/xml"
      x-mint:
        metadata:
          mode: wide
    put:
      tags:
        - roster
      summary: Stop job
      description: Stops a running solver job.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The job was stopped successfully.
        "404":
          description: Job with given ID not found
      x-mint:
        metadata:
          mode: wide
  /jobs/{id}/result:
    get:
      tags:
        - roster
      summary: Get result
      description: Returns the current best solution produced by the solver for the
        specified job.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns the result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
        "404":
          description: Job with given ID not found
      x-mint:
        metadata:
          mode: wide
  /jobs/{id}/request:
    get:
      tags:
        - roster
      summary: Get request
      description: Returns the payload that was sent to the API when starting the job.
      security:
        - vismaConnectBearer: []
      parameters:
        - name: id
          in: path
          description: Job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Returns the payload that was sent to the API when starting the job.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/request"
        "404":
          description: Job with given ID not found
      x-mint:
        metadata:
          mode: wide
  /analyze:
    post:
      tags:
        - analyze
      summary: Analyze
      description: WIP - Analyze a job request. Currently returns a dummy response.
      security:
        - vismaConnectBearer: []
      parameters:
        - in: header
          name: CUSTOMER_ID
          schema:
            type: string
          required: true
          example: resolve
        - in: header
          name: USER_ID
          schema:
            type: string
          required: true
          example: dev_team
        - in: header
          name: ACCEPT_LANGUAGE
          schema:
            type: string
            description: Preferred language for response messages
            example: no-NO
            default: en-US
          description: Language code for localizing warning messages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request"
      responses:
        "200":
          description: Request analyzed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response-analyzer"
        "400":
          description: Payload defined in request body is not valid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/badRequest"
        "406":
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Not Acceptable. The only supported accept type is application/json.
        "415":
          description: Defined Content-Type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Unsupported content type. The only supported content type is
                application/json.
      x-mint:
        metadata:
          mode: wide
  /feasibility:
    post:
      tags:
        - feasibility
      summary: Feasibility Check
      description: Check jobs feasibility.
      security:
        - vismaConnectBearer: []
      parameters:
        - in: header
          name: CUSTOMER_ID
          schema:
            type: string
          required: true
          example: resolve
        - in: header
          name: USER_ID
          schema:
            type: string
          required: true
          example: dev_team
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/request"
      responses:
        "200":
          description: Job validated successfully. For payload feasibility check response
            body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feasibilityResponseJson"
        "400":
          description: Payload defined in request body is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/badRequest"
        "406":
          description: Defined Accept type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Not Acceptable. Supported Accept types are application/xml,
                application/json
        "415":
          description: Defined Content-Type is not supported
          content:
            text/plain:
              schema:
                type: string
              example: Unsupported content type. Supported Content-Types are application/xml,
                application/json
      x-mint:
        metadata:
          mode: wide
components:
  securitySchemes:
    vismaConnectBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Enter the token with the `Bearer: ` prefix. You can retrieve token
        from Visma connect."
  schemas:
    duration:
      type: object
      description: A simple duration of time. E.g. 30 minutes, 2 hours or 2 hours, 30
        minutes. Either hours or minutes must be set. They both default to zero,
        if not specified. Minutes must be a multiple of 5 as this is the
        smallest time unit used in the solver.
      minProperties: 1
      properties:
        hours:
          type: integer
          minimum: 0
          default: 0
        minutes:
          type: integer
          multipleOf: 5
          minimum: 0
          default: 0
    timeStamp:
      type: string
      description: TIME ISO 8601 format hh:mm. Equivalent to the 24h format of a
        single day. Use 00:00 to represent midnight.
      format: time
    date:
      type:
        - string
        - "null"
      format: date
      description: Date is specified in ISO8601 format YYYY-MM-DD. Can only be used
        when schedule type is CALENDAR.
    dayIndex:
      type:
        - integer
        - "null"
      description: Day index relative to the first day of the period (starts at 0).
        Can only be used when schedule type is RECURRING.
      minimum: 0
    dayOfWeek:
      type: string
      enum:
        - MON
        - TUE
        - WED
        - THU
        - FRI
        - SAT
        - SUN
    daysWithTime:
      description: List of days in the schedule. Each day will become one period. By
        default, each period will last the entire day. If a startTime and/or
        endTime are specified, these will apply to each period.
      type: object
      properties:
        dates:
          description: List of dates in the schedule. Only allowed in CALENDAR payloads.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/date"
        dayIndices:
          description: List of day indices in the schedule. Only allowed in RECURRING
            payloads.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/dayIndex"
        daysOfWeek:
          description: List of days of the week. Will apply to all days in the schedule
            that match any of the specified weekdays.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/dayOfWeek"
        startTime:
          description: Time of day at which each period starts. If not specified, this
            defaults to 00:00.
          $ref: "#/components/schemas/timeStamp"
        endTime:
          description: Time of day at which each period ends. If not specified, this
            defaults to end of day.
          $ref: "#/components/schemas/timeStamp"
    day:
      description: Describes one day in the schedule. Can be defined as a date (in
        CALENDAR payloads) or as a day index (in RECURRING payloads).
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        date:
          $ref: "#/components/schemas/date"
        dayIndex:
          $ref: "#/components/schemas/dayIndex"
    customPeriodDefinition:
      type: object
      properties:
        startDay:
          description: The day in the schedule where the period starts. If not specified,
            this defaults to the first day of the schedule.
          $ref: "#/components/schemas/day"
        endDay:
          description: The day in the schedule where the period ends. If not specified,
            this defaults to the last day of the schedule.
          $ref: "#/components/schemas/day"
        startTime:
          description: Time of day at which each period starts. If not specified, this
            defaults to 00:00.
          $ref: "#/components/schemas/timeStamp"
        endTime:
          description: Time of day at which each period ends. If not specified, this
            defaults to end of the day.
          $ref: "#/components/schemas/timeStamp"
        applyTimeToAllDays:
          type: boolean
          description: If true, the startTime and endTime will be applied to each
            individual day in the period. If false, the startTime will apply to
            the first day and the endTime will apply to the last day.
          default: false
    recurrentPeriodDefinition:
      type: object
      description: A recurrent definition to easily create a set of similar periods.
      example:
        example_weekly:
          value:
            daysPerPeriod: 7
          summary: The above recurrent definition will create a non-overlapping set of
            periods that are each 7 days long, spanning the entire roster.
        example_weekly_sliding:
          value:
            daysPerPeriod: 14
            daysBetweenStarts: 1
          summary: The above recurrent definition will create periods that are each two
            weeks long, with one such period starting on each day of the roster.
            This could for example be used to indicate that an employee must
            have 48 hours of rest in any two-week long period (using
            PeriodicRestConstraint).
      required:
        - daysPerPeriod
      properties:
        daysPerPeriod:
          type: integer
          description: The number of days in each period.
          minimum: 1
        daysBetweenStarts:
          type: integer
          description: The number of days between the start of each period. If not
            specified, this defaults to the value of daysPerPeriod, creating
            non-overlapping consecutive periods. Setting daysBetweenStarts to 1
            will create a sliding window of periods.
          minimum: 1
        startDay:
          description: The day in the schedule where the first period will start. If not
            specified, this defaults to the first day of the schedule.
          $ref: "#/components/schemas/day"
        endDay:
          description: The day in the schedule where the last period will end. If not
            specified, this defaults to the last day of the schedule.
          $ref: "#/components/schemas/day"
        startTime:
          description: Time of day at which each period starts. If not specified, this
            defaults to 00:00.
          $ref: "#/components/schemas/timeStamp"
        endTime:
          description: Time of day at which each period ends. If not specified, this
            defaults to end of the day.
          $ref: "#/components/schemas/timeStamp"
        applyTimeToAllDays:
          type: boolean
          description: If true, the startTime and endTime will be applied to each
            individual day in the period. If false, the startTime will apply to
            the first day and the endTime will apply to the last day.
          default: false
    periods:
      type: object
      minProperties: 1
      maxProperties: 1
      description: List of periods in the schedule. Periods can either be defined
        explicitly using custom definitions, or through a recurrent definition.
        A recurrent definition can be used to easily generate a list of similar
        periods (such as weeks, months, etc.).
      properties:
        days:
          $ref: "#/components/schemas/daysWithTime"
        customDefinitions:
          type: array
          description: List of custom period definitions. Each custom period definition
            defines one period in the schedule.
          items:
            $ref: "#/components/schemas/customPeriodDefinition"
        recurrentDefinition:
          $ref: "#/components/schemas/recurrentPeriodDefinition"
        labels:
          type: array
          uniqueItems: true
          description: Provide labels to re-use periods that were defined in the
            configuration.
          items:
            type: string
    attribute:
      type: object
      required:
        - values
      properties:
        category:
          type: string
          description: The category of the attribute.
        values:
          type: array
          items:
            type: string
          description: The values that the employee has for this attribute. For example,
            an employee can have the values "marketing" and "finance" for an
            attribute with the id "department".
        periods:
          $ref: "#/components/schemas/periods"
    days:
      description: List of days in the schedule. Days can be defined as an array of
        dates (in CALENDAR payloads), as an array of day indices (in RECURRING
        payloads), or as an array of weekdays (allowed in all payloads).
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        dates:
          description: List of dates in the schedule. Only allowed in CALENDAR payloads.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/date"
        dayIndices:
          description: List of day indices in the schedule. Only allowed in RECURRING
            payloads.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/dayIndex"
        daysOfWeek:
          description: List of days of the week. Will apply to all days in the schedule
            that match any of the specified weekdays.
          type: array
          uniqueItems: true
          items:
            $ref: "#/components/schemas/dayOfWeek"
    preassignedShift:
      type: object
      required:
        - shiftId
        - days
      properties:
        shiftId:
          type: string
          description: The id of the shift that is assigned to the employee.
        days:
          $ref: "#/components/schemas/days"
        isLocked:
          type: boolean
          description: Whether the shift is locked. Locked shifts cannot be changed by the
            solver. For read-only employees, all shifts are automatically
            considered locked.
          default: false
        roleId:
          type: string
          description: The role id of the role that the employee has when working this
            shift. Needs to match a role id from the employee's list of roles.
    dayIndexes:
      type: array
      description: List of day indexes, relative to the first day of the period
        (starts at 0). Can only be used when schedule type is RECURRING.
      items:
        $ref: "#/components/schemas/dayIndex"
      uniqueItems: true
    dates:
      type: array
      description: List of dates, specified in ISO8601 format YYYY-MM-DD. Can only be
        used when schedule type is CALENDAR.
      items:
        $ref: "#/components/schemas/date"
      uniqueItems: true
    scheduledShift:
      type: object
      required:
        - shiftId
        - scheduleDays
      properties:
        shiftId:
          type: string
          description: The id of the shift that is pre-scheduled.
        locked:
          type: boolean
          description: Whether the shift is locked. Locked shifts cannot be changed by the
            solver. For read-only employees, all shifts are automatically
            considered locked.
          default: false
    dayIndicator:
      type: integer
      minimum: -1
      maximum: 1
    shiftInterval:
      type: object
      description: Interval of a shift. When an employee is assigned to a shift, the
        employee will work all of its intervals.
      required:
        - startTime
        - endTime
        - dayIndicator
      properties:
        startTime:
          $ref: "#/components/schemas/timeStamp"
        endTime:
          $ref: "#/components/schemas/timeStamp"
        dayIndicator:
          $ref: "#/components/schemas/dayIndicator"
          description: >-
            Indicates which day this interval belongs to, relative to the day
            that the shift belongs to. -1 indicates the

            interval starts on the previous day, 0 on the same day, and 1 on the
            next day.
        workload:
          type: object
          properties:
            factor:
              type: number
              description: Factor by which the hours of this interval will be multiplied to
                calculate the total FTE hours of an employee.
              default: 1
              minimum: 0
            category:
              type: string
              description: Category of work carried out during the interval. Only relevant if
                using TIME_DEMAND.
        breakMinutes:
          type: integer
          description: Minutes of break in this interval. The solver does not plan the
            break at any specific time, but the break minutes are subtracted
            from the total FTE for the shift.
          default: 0
        taskId:
          type: string
          description: Task id of the task that must be worked on during this interval.
            The task needs to be defined in the configuration part of the
            payload.
    connectedShifts:
      type: object
      minProperties: 1
      properties:
        shiftIds:
          type: array
          description: List of ids of shifts that are connected to this shift.
          uniqueItems: true
          items:
            type: string
        shiftTemplateIds:
          type: array
          description: List of ids of shift templates that are connected to this shift.
          uniqueItems: true
          items:
            type: string
        dayOff:
          type: boolean
          description: Whether the connected shift can be a day off.
          default: false
    attributeMatchType:
      type: string
      enum:
        - NONE
        - ANY
        - ALL
      default: ALL
    attributeRequirement:
      type: object
      properties:
        category:
          type: string
          description: The category of the attribute.
        values:
          type: array
          items:
            type: string
          description: The targeted values for this requirement.
          uniqueItems: true
        matchType:
          $ref: "#/components/schemas/attributeMatchType"
    weekDay:
      type: integer
      description: >-
        Week day (Monday = 1, Tuesday = 2, ..., Sunday = 7). NOTE. This is
        one-based, meaning that Monday is index 1 and

        Sunday is index 7.
      minimum: 1
      maximum: 7
    weekDays:
      type: array
      description: List of week days.
      items:
        $ref: "#/components/schemas/weekDay"
      uniqueItems: true
    timeWindow:
      type: object
      description: Specifies an interval with start and end time. If the end time is
        before the start time, the time window is assumed to wrap around
        midnight.
      required:
        - start
        - end
      properties:
        start:
          $ref: "#/components/schemas/timeStamp"
        end:
          $ref: "#/components/schemas/timeStamp"
    durationInterval:
      type: object
      description: An interval of time duration. Equivalent to saying a duration
        between 1 hour, 30 minutes and 2 hours, 45 minutes. Note that both min
        and max duration are required. For an interval that is shorter than 5
        hours, set min = 0h and max = 5h. For an interval that is longer than 5
        hours, set min = 5h and max = 99h.
      required:
        - min
        - max
      properties:
        min:
          $ref: "#/components/schemas/duration"
        max:
          $ref: "#/components/schemas/duration"
    attributeRequirementGroup:
      type: object
      properties:
        attributeRequirements:
          type: array
          items:
            $ref: "#/components/schemas/attributeRequirement"
        min:
          type: integer
          description: The minimum number of employees on the demand matching this
            attribute requirement.
          minimum: 1
    demandPriority:
      type: number
      default: 1
      minimum: 1
      maximum: 2
      description: Priority of this demand. Increasing a demand's priority will make
        the solver prioritize it compared to demands, but also compared to
        constraints.
    shiftDemand:
      type: object
      required:
        - shiftId
        - ideal
      properties:
        shiftId:
          type: string
          description: Id of the shift for which there is demand.
        min:
          type: integer
          description: Minimum number of employees needed to cover the demand. The solver
            will try to cover the demand with at least this number of employees.
            If not specified, will be equal to ideal.
        ideal:
          type: integer
          description: Ideal number of employees needed to cover the demand. The solver
            prefers to cover the demand with exactly this number of employees.
        max:
          type: integer
          description: Maximum number of employees needed to cover the demand. The solver
            will never assign more employees to cover the demand than this
            number. If not specified, will be equal to ideal.
        attributeRequirementGroups:
          type: array
          description: List of requirements on the attributes that an employee must meet
            to be eligible to cover this shift demand.
          items:
            $ref: "#/components/schemas/attributeRequirementGroup"
        priority:
          $ref: "#/components/schemas/demandPriority"
    timeDemand:
      type: object
      required:
        - timeSlotId
        - ideal
      properties:
        timeSlotId:
          type: string
          description: Id of the time slot for which there is demand.
        min:
          type: integer
          description: Minimum number of employees needed to cover the demand. The solver
            will try to cover the demand with at least this number of employees.
            If not specified, will be equal to ideal.
        ideal:
          type: integer
          description: Ideal number of employees needed to cover the demand. The solver
            prefers to cover the demand with exactly this number of employees.
        max:
          type: integer
          description: Maximum number of employees needed to cover the demand. The solver
            will never assign more employees to cover the demand than this
            number. If not specified, will be equal to ideal.
        priority:
          $ref: "#/components/schemas/demandPriority"
    periodsWithoutLabels:
      type: object
      minProperties: 1
      maxProperties: 1
      description: List of periods in the schedule. Periods can either be defined
        explicitly using custom definitions, or through a recurrent definition.
        A recurrent definition can be used to easily generate a list of similar
        periods (such as weeks, months, etc.).
      properties:
        days:
          $ref: "#/components/schemas/daysWithTime"
        customDefinitions:
          type: array
          description: List of custom period definitions. Each custom period definition
            defines one period in the schedule.
          items:
            $ref: "#/components/schemas/customPeriodDefinition"
        recurrentDefinition:
          $ref: "#/components/schemas/recurrentPeriodDefinition"
    shiftLabelRule:
      type: object
      properties:
        label:
          type: string
          description: Unique identifier. The name of the shift label that is applied to
            shifts that adheres to the rules specified.
        startTimeWindow:
          $ref: "#/components/schemas/timeWindow"
          description: If specified, the shift must start inside this time window.
        endTimeWindow:
          $ref: "#/components/schemas/timeWindow"
          description: If specified, the shift must end inside this time window.
        includesTimeWindow:
          $ref: "#/components/schemas/timeWindow"
          description: If specified, the shift must completely cover this time window.
        durationRange:
          $ref: "#/components/schemas/durationInterval"
          description: If specified, the shift must have a duration that falls inside this
            range.
        gapRange:
          $ref: "#/components/schemas/durationInterval"
          description: If specified, the shift must have a gap (between any two shift
            intervals) that falls inside this range.
        workloadCategories:
          type: array
          items:
            type: string
          description: If specified, the shift must have at least one of the workload
            categories specified in this list.
          uniqueItems: true
    periodLabelRule:
      type: object
      required:
        - label
        - periods
      properties:
        label:
          type: string
          description: The label to assign to the specified periods.
        periods:
          description: The periods to which the label should be applied.
          $ref: "#/components/schemas/periodsWithoutLabels"
    solverParameters:
      type: array
      description: List of solver parameters used to tweak solver behaviour. Contact
        dev team for possible parameters. If not defined, default parameters
        will be used.
      items:
        type: object
        properties:
          name:
            type: string
          value:
            type: string
    matchType:
      type: string
      enum:
        - NONE
        - ANY
        - ALL
      default: ANY
    advancedFilter:
      type: object
      required:
        - field
        - values
      properties:
        field:
          type: string
          description: The field to filter on. Can be "id" or "label".
        values:
          type: array
          description: The values to filter on.
          items:
            type: string
          uniqueItems: true
        matchType:
          description: Defines how the values should be matched. For example, if set to
            ALL, an entity needs to have all of the specified values to match
            this filter.
          $ref: "#/components/schemas/matchType"
    advancedFilters:
      type: object
      description: Can be used to define more complex filtering logic (using NOT, AND,
        OR) for employees or shifts.
      properties:
        filters:
          type: array
          description: List of advanced filters to apply.
          items:
            $ref: "#/components/schemas/advancedFilter"
        matchType:
          description: Defines how the filters should be combined. For example, if set to
            NONE, an entity needs to not match any of the filters to be
            included.
          $ref: "#/components/schemas/matchType"
    constraintFiltersShifts:
      type: object
      description: Used to filter which shifts the constraint should be applied to. If
        not specified, the constraint applies to all shifts.
      properties:
        ids:
          type: array
          items:
            type: string
          description: List of shift ids that the constraint should be applied to.
          uniqueItems: true
        labels:
          type: array
          description: List of shift labels that the constraint should be applied to.
          items:
            type: string
          uniqueItems: true
        advanced:
          $ref: "#/components/schemas/advancedFilters"
    patternDayKeyword:
      type: string
      description: A keyword to represent that a day must be a day off (DAY_OFF), must
        be a worked day (ANY_SHIFT), or that there are no requirements on this
        day (ANY).
      enum:
        - DAY_OFF
        - ANY_SHIFT
        - ANY
    patternDay:
      type: object
      minProperties: 1
      properties:
        shifts:
          $ref: "#/components/schemas/constraintFiltersShifts"
        keyword:
          $ref: "#/components/schemas/patternDayKeyword"
    shiftPattern:
      type: object
      required:
        - id
        - patternDays
      properties:
        id:
          type: string
          description: Unique identifier.
        patternDays:
          type: array
          description: List of days that make up the pattern. For each pattern day, it can
            be specified (in various ways) which shifts are allowed to be
            scheduled on that day in order to satisfy the pattern.
          items:
            $ref: "#/components/schemas/patternDay"
    weekend:
      type: object
      description: Specifies when the weekend starts and ends. Used in the weekend
        distribution constraint. If not defined, no days will be considered as
        weekends.
      required:
        - startWeekDay
        - endWeekDay
      properties:
        startWeekDay:
          type: integer
          minimum: 1
          maximum: 7
          description: Index of day on which weekend starts. Can be value [1-7] where 1 =
            Monday and 7 = Sunday
        startTime:
          $ref: "#/components/schemas/timeStamp"
        endWeekDay:
          type: integer
          minimum: 1
          maximum: 7
          description: Index of day on which weekend ends. Can be value [1-7] where 1 =
            Monday and 7 = Sunday.
        endTime:
          $ref: "#/components/schemas/timeStamp"
    workType:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique identifier.
        factor:
          type: number
          description: Factor by which the hours of worked shifts of this work type will
            be multiplied to calculate the total FTE hours of an employee. For
            example, if an employee works 8 hours of shifts with factor 0.5,
            then the employee's FTE hours for that day is 4.
          default: 1
          minimum: 0
    constraintFiltersEmployees:
      type: object
      description: Used to filter which employees the constraint should be applied to.
        If not specified, the constraint applies to all employees.
      properties:
        ids:
          type: array
          items:
            type: string
          description: List of employee ids that the constraint should be applied to.
          uniqueItems: true
        labels:
          type: array
          description: List of employee labels that the constraint should be applied to.
          items:
            type: string
          uniqueItems: true
    constraintEmployeeIds:
      type: array
      items:
        type: string
      description: List of employee ids for which the constraint applies. The employee
        ids must be present in the employee section. If not specified, the
        constraint will be applied to all employees.
      uniqueItems: true
    constraintShiftIds:
      type: array
      items:
        type: string
      description: List of shift ids for which the constraint applies. The shift ids
        must be present in the shift section. If not specified, the constraint
        will be applied to all shifts.
      uniqueItems: true
    constraintShiftTypeIds:
      type: array
      items:
        type: string
      description: List of shift type ids for which the constraint applies. The shift
        type ids must be present in the shift type section. If not specified,
        the constraint will be applied to all shift types.
      uniqueItems: true
    constraintWorkTypeIds:
      type: array
      items:
        type: string
      description: List of workType IDs for which the constraint applies. The
        workTypeIds should be present in workType section. If work type ids are
        not specified, the constraint will be applied to all work types.
      uniqueItems: true
    taskMinMinutes:
      type: integer
      default: 0
      minimum: 0
      maximum: 10080
    taskMaxMinutes:
      type: integer
      minimum: 5
      maximum: 10080
    taskCooldownMinutes:
      type: integer
      default: 0
      minimum: 0
    cooldown:
      type: object
      required:
        - minutes
      properties:
        minutes:
          type: integer
          description: The number of minutes that must pass after working on this task or
            task group before working on the Task or Task group specified in
            this cooldown.
          minimum: 0
        taskId:
          type: string
          description: The id of the task that the cooldown applies to.
        taskGroupId:
          type: string
          description: The id of the task group that the cooldown applies to.
    constraintId:
      type: string
      description: Unique identifier for the constraint.
    constraintLabels:
      type: array
      description: Labels for the constraint. Labels can be used to group constraints
        together. For example, if multiple constraints are related to the same
        shift type, they can all be labeled with the same label.
      uniqueItems: true
      items:
        type: string
    importanceWithStrict:
      type: string
      enum:
        - NONE
        - VERY_LOW
        - LOW
        - MEDIUM
        - HIGH
        - VERY_HIGH
        - STRICT
      description: The importance of the constraint. The higher the importance, the
        more the solver will take the constraint into account. Under strict
        importance, the constraint may never be violated.
    constraintFilters:
      type: object
      description: Filters to determine the scope of the constraint. Used to indicate
        what the constraint should be applied to (which employees, which shifts,
        etc). Leaving this empty means that the constraint always applies.
      properties:
        employees:
          $ref: "#/components/schemas/constraintFiltersEmployees"
        shifts:
          $ref: "#/components/schemas/constraintFiltersShifts"
    constraintFiltersWork:
      type: object
      description: Defines filtering for specific work that the constraint should be
        applied to. For example, it can be used to apply the constraint only to
        work carried out in specific roles.
      properties:
        roles:
          description: Used to apply the constraint only to work carried out in specific
            roles.
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
              description: >-
                List of role ids that the constraint should be applied to. If
                not specified, no filtering is applied 

                based on role ids.
              uniqueItems: true
    importance:
      type: string
      enum:
        - NONE
        - VERY_LOW
        - LOW
        - MEDIUM
        - HIGH
        - VERY_HIGH
      description: The importance of the constraint. The higher the importance, the
        more the solver will take the constraint into account.
    employeeUtilizationFilters:
      type: object
      description: Filters to determine the scope of the constraint. Used to decide
        which employees and which shifts the constraint should be applied to.
        Filters use logical OR filtering - an employee or shift is included as
        long as it is targeted by any of the filters.
      properties:
        employees:
          $ref: "#/components/schemas/constraintFiltersEmployees"
        shifts:
          $ref: "#/components/schemas/constraintFiltersShifts"
        work:
          $ref: "#/components/schemas/constraintFiltersWork"
    overlapRules:
      description: >-
        Specifies overlap thresholds that a shift must meet with the
        constraint's periods in order for it to be

        counted as relevant for the constraint.
      type: object
      properties:
        minOverlapHours:
          type: integer
          description: >-
            The minimum number of hours that a shift must overlap with the
            constraint in order to be counted as relevant

            for this constraint.
          minimum: 1
        minOverlapPercentage:
          type: integer
          description: >-
            The minimum percentage of the shift that must overlap with the
            constraint in order to be counted as relevant

            for this constraint.
          minimum: 1
          maximum: 100
    periodicRestTargets:
      type: object
      properties:
        continuousRest:
          type: object
          properties:
            minHours:
              type: number
    cooldownStartsOrEnds:
      type: object
      properties:
        shifts:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
              description: >-
                List of shift ids that the constraint should be applied to. If
                not specified, no filtering is applied 

                based on shift ids.
              uniqueItems: true
            labels:
              type: array
              items:
                type: string
              uniqueItems: true
            advanced:
              $ref: "#/components/schemas/advancedFilters"
            filters:
              description: DEPRECATED - Use 'advanced' instead.
              type: array
              items:
                $ref: "#/components/schemas/advancedFilter"
            matchType:
              description: DEPRECATED - Use 'advanced' instead.
              $ref: "#/components/schemas/matchType"
    cooldownTargets:
      type: object
      minProperties: 1
      maxProperties: 1
      properties:
        minHours:
          description: Minimum number of hours that the cooldown should last.
          type: number
          minimum: 1
        minDays:
          description: Minimum number of days that the cooldown should last.
          type: integer
          minimum: 1
    cooldownConstraintScope:
      type: object
      properties:
        employees:
          $ref: "#/components/schemas/advancedFilters"
    emptyDayBehaviour:
      type: string
      default: INCLUDE
      enum:
        - INCLUDE
        - EXCLUDE
        - MATCH
    scope:
      description: Defines the employees and shifts for which this constraint applies.
      type: object
      properties:
        employees:
          description: Describes which employees the constraint applies to. If not
            specified, the constraint applies to all employees.
          $ref: "#/components/schemas/advancedFilters"
        shifts:
          description: Describes which shifts the constraint applies to. If not specified,
            the constraint applies to all shifts.
          $ref: "#/components/schemas/advancedFilters"
    objective:
      type: string
      enum:
        - IGNORE
        - MINIMIZE
        - MAXIMIZE
      default: IGNORE
    layoutObjectives:
      type: object
      minProperties: 1
      properties:
        groupSize:
          description: Indicates whether small/large groups are preferred (or whether this
            is not relevant).
          $ref: "#/components/schemas/objective"
        groupSeparation:
          description: Indicates whether groups should be placed close together or spread
            out (or whether this is not relevant).
          $ref: "#/components/schemas/objective"
    consecutiveTargets:
      type: object
      properties:
        min:
          type: integer
          description: The minimum number of consecutive entities that an employee should
            ideally work. This cannot be set as a strict limit and will be
            treated as a target instead.
          minimum: 0
        max:
          type: integer
          description: The maximum number of consecutive entities that an employee can
            work. Currently only supports importance STRICT.
          minimum: 0
    rotationConstraintTargets:
      type: object
      required:
        - rotationAmount
      properties:
        rotationAmount:
          type: integer
          minimum: 0
    rotationConstraintScope:
      description: Defines the employees and shifts for which this constraint applies.
      type: object
      properties:
        employees:
          description: Describes which employees the constraint applies to. If not
            specified, the constraint applies to all employees.
          $ref: "#/components/schemas/advancedFilters"
    priorityScore:
      type: integer
      description: A score of the priority of an employee covering a demand. The
        normal score can range from 0 to 100. A score of -1 can be used to
        denote that the employee can not cover (a part of) the demand under any
        circumstances. If no defaultScore is defined, a default score of 0 will
        be used.
      minimum: -1
      maximum: 100
      default: 0
    workingTimePreferenceInterval:
      type: object
      description: >-
        This is an interval used in the workingTimePreferenceConstraint. It
        defines days, a start and end time, and 

        type of work.
      required:
        - startTime
        - endTime
      properties:
        startTime:
          $ref: "#/components/schemas/timeStamp"
        endTime:
          $ref: "#/components/schemas/timeStamp"
        workTypeIds:
          $ref: "#/components/schemas/constraintWorkTypeIds"
    rosterId:
      type: string
      description: Identifier for this roster.
    organisationId:
      type: string
      description: Identifier for the organisation/user that has requested this roster.
    demandType:
      description: Type of demand that will be used in this job.
      type: string
      enum:
        - SHIFT_DEMAND
        - TIME_DEMAND
    scheduleDay:
      type: object
      description: Defines a day in the planning horizon. If the schedule type is
        RECURRING, then dayIndex must be specified, and if the schedule type is
        CALENDAR, then date must be specified.
      minProperties: 1
      maxProperties: 1
      properties:
        dayIndex:
          $ref: "#/components/schemas/dayIndex"
        date:
          $ref: "#/components/schemas/date"
    planningHorizon:
      type: object
      description: Specifies the planning horizon for which a roster will be created.
        The required properties depend on the chosen scheduleType.
      required:
        - startDate
      properties:
        startDate:
          $ref: "#/components/schemas/date"
          description: Format YYYY-MM-DD. The start date of the planning horizon. The
            solver will only schedule shifts for days within the planning
            horizon. If you need to include locked shifts outside the period for
            which you have demands, the planning horizon should be extended to
            include these days. For RECURRING jobs, this must be the first
            Monday of the first week.
        endDate:
          $ref: "#/components/schemas/date"
          description: Format YYYY-MM-DD. Only required for CALENDAR jobs. The end date of
            the planning horizon. The solver will only schedule shifts for days
            within the planning horizon. If you need to include locked shifts
            outside the period for which you have demands, the planning horizon
            should be extended to include these days.
        nrOfWeeks:
          minimum: 1
          type: integer
          description: Only required for RECURRING jobs. The number of weeks in the
            planning horizon.
        fteStartDay:
          $ref: "#/components/schemas/scheduleDay"
          description: The start day of the period where FTE is counted. Any work planned
            outside this period will not be counted towards FTE.
        fteEndDay:
          $ref: "#/components/schemas/scheduleDay"
          description: The end day of the period where FTE is counted. Any work planned
            outside this period will not be counted towards FTE.
    jobInfo:
      type: object
      description: Details about the job that the solver will solve.
      required:
        - id
        - organisationId
        - scheduleType
        - demandType
        - planningHorizon
      properties:
        id:
          $ref: "#/components/schemas/rosterId"
        organisationId:
          $ref: "#/components/schemas/organisationId"
        scheduleType:
          description: Type of schedule that the solver should create.
          type: string
          enum:
            - CALENDAR
            - RECURRING
        demandType:
          $ref: "#/components/schemas/demandType"
        planningHorizon:
          $ref: "#/components/schemas/planningHorizon"
    employee:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique identifier for this employee.
        labels:
          type: array
          description: List of labels assigned to this employee. Labels can be used in
            constraints to group employees.
          items:
            type: string
          uniqueItems: true
        attributes:
          description: List of attributes that this employee has. Shifts, demands and
            tasks can have requirements on the attributes that an employee has.
          type: array
          items:
            $ref: "#/components/schemas/attribute"
        roles:
          description: Optional list of roles that this employee can work. Each role can
            have additional attributes that the employee has when working that
            role.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier for this role.
              attributes:
                type: array
                description: List of additional attributes this employee has when they work in
                  this role.
                items:
                  $ref: "#/components/schemas/attribute"
        preassignedShifts:
          type: array
          description: List of assignments that are pre-assigned to this employee.
          items:
            $ref: "#/components/schemas/preassignedShift"
        isReadOnly:
          type: boolean
          description: If set to true, the employee will only work their preassigned
            shifts. These will not be altered, and the solver will not assign
            new shifts to this employee.
          default: false
    demand:
      type: object
      properties:
        days:
          description: List of days on which this demand exists. Multiple demands can
            exist on the same day.
          type: object
          properties:
            dates:
              description: List of dates in the schedule. Only allowed in CALENDAR payloads.
              type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/date"
            dayIndices:
              description: List of day indices in the schedule. Only allowed in RECURRING
                payloads.
              type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/dayIndex"
            daysOfWeek:
              description: List of days of the week. Will apply to all days in the schedule
                that match any of the specified weekdays.
              type: array
              uniqueItems: true
              items:
                $ref: "#/components/schemas/dayOfWeek"
        shiftDemands:
          description: List of shift demands that exist on the days specified in the days
            field.
          type: array
          items:
            $ref: "#/components/schemas/shiftDemand"
        timeDemands:
          description: List of time demands that exist on the days specified in the days
            field.
          type: array
          items:
            $ref: "#/components/schemas/timeDemand"
    shift:
      type: object
      required:
        - id
        - intervals
      properties:
        id:
          type: string
          description: Unique identifier for the shift.
        labels:
          type: array
          description: List of labels assigned to this shift. Labels can be used in
            constraints to group shifts.
          items:
            type: string
          uniqueItems: true
        isReadOnly:
          type: boolean
          description: If set to true, the shift will not be assigned by the solver. Read
            only shifts will not be used in new assignments by the solver, their
            use is limited to preassigned shifts. Read only shifts can still be
            used to cover demand.
          default: false
        canCoverDemand:
          type: boolean
          description: Only relevant for preassigned shifts. If set to false, assignments
            of this shift will not contribute towards demand coverage. Shifts
            that cannot cover demand will not be used in new assignments by the
            solver, their use is limited to preassigned shifts.
          default: true
        availableDays:
          $ref: "#/components/schemas/days"
          description: Days on which this shift is available to be assigned. If not set,
            the shift is always available.
        intervals:
          type: array
          description: List of intervals that this shift consists of. The maximum duration
            of a shift is 72 hours.
          minItems: 1
          items:
            $ref: "#/components/schemas/shiftInterval"
        connectedShiftsPreviousDay:
          description: List of shifts that are connected to this shift on the previous
            day. If defined, this shift will always be preceded by one of the
            connected shifts the previous day.
          $ref: "#/components/schemas/connectedShifts"
        connectedShiftsNextDay:
          description: List of shifts that are connected to this shift on the next day. If
            defined, this shift will always be followed by one of the connected
            shifts the next day.
          $ref: "#/components/schemas/connectedShifts"
        attributeRequirements:
          description: List of requirements on the attributes that an employee needs to be
            eligible to work this Shift. If an employee does not meet all of the
            requirements, the employee can not work this Shift.
          type: array
          items:
            $ref: "#/components/schemas/attributeRequirement"
    timeSlot:
      type: object
      required:
        - id
        - startTime
        - endTime
      properties:
        id:
          type: string
        startTime:
          description: Start time of this time slot.
          $ref: "#/components/schemas/timeStamp"
        endTime:
          description: End time of this time slot.
          $ref: "#/components/schemas/timeStamp"
        canBeShared:
          type: boolean
          description: Determines if the time slot can be "split" and covered by more than
            one employee. If set to false, the same employee has to cover the
            entire time slot from start to end.
          default: true
        workloadCategory:
          type: string
          description: If set, demands with this time slot can only be covered by shifts
            that have the same workload category.
        taskId:
          type: string
          description: Task id of the task to do during this time slot. The task needs to
            be defined in the configuration part of the payload. If an employee
            does not meet the requirements for the task, they can not cover this
            time slot.
        attributeRequirements:
          description: List of requirements on the attributes that an employee needs to be
            eligible to cover this time slot. If an employee does not meet all
            of the requirements, the employee can not cover this time slot.
          type: array
          items:
            $ref: "#/components/schemas/attributeRequirement"
    employeeAvailabilityConstraint:
      type: object
      description: Used to indicate when employees are strictly or preferably
        available or unavailable to work.
      required:
        - id
        - importance
        - isDesired
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        isDesired:
          type: boolean
          description: If set to true, it will be considered preferable for employees to
            work the shifts that this constraint applies to during the specified
            periods. If set to false, the solver will try to avoid assigning
            applicable shifts to employees during the specified periods. If
            importance is set to strict, this must be false.
        filters:
          $ref: "#/components/schemas/constraintFilters"
        periods:
          $ref: "#/components/schemas/periods"
    employeeUtilizationConstraint:
      description: Used to set targets and limits for the amount of hours or shifts
        worked by employees within given periods.
      type: object
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importance"
        filters:
          $ref: "#/components/schemas/employeeUtilizationFilters"
        targets:
          description: >-
            Specifies the target utilization for the constraint. Targets can be
            specified in number of FTE hours, or in

            number of shifts worked during the period.
          type: object
          properties:
            minHours:
              type: number
              description: >-
                The minimum number of hours that should be worked by employees
                on shifts that match the constraint in each period.

                This is treated as a target - it is not guaranteed that the
                number of hours worked will be greater than

                this value.
            idealHours:
              type: number
              description: >-
                The ideal number of hours that should be worked by employees on
                shifts that match the constraint in each period.

                This is treated as a target - it is not guaranteed that the
                number of hours worked will be exactly this value.
            maxHours:
              type: number
              description: >-
                The maximum number of hours that should be worked by employees
                on shifts that match the constraint in each period.

                This is treated as a hard limit - the number of hours worked
                will never exceed this value.
            minShifts:
              type: integer
              description: >-
                The minimum number of shifts that match the constraint that an
                employee should work in each period.

                This is treated as a target - it is not guaranteed that the
                number of shifts worked will be greater than

                this value.
            idealShifts:
              type: integer
              description: >-
                The ideal number of shifts that match the constraint that an
                employee should work in each period.

                This is treated as a target - it is not guaranteed that the
                number of shifts worked will be exactly this value.
            maxShifts:
              type: integer
              description: >-
                The maximum number of shifts that match the constraint that an
                employee should work in each period.

                This is treated as a hard limit - the number of shifts worked
                will never exceed this value.
        bonusTime:
          description: Settings to determine if and how bonus time rules affect the
            constraint.
          type: object
          properties:
            includeBonusHours:
              type: boolean
              description: Whether or not bonus hours should be included in the calculation of
                an employee's total hours worked for the constraint.
              default: true
            averageHoursThreshold:
              type: number
              description: >-
                If a threshold is provided, bonus hours will only be included in
                the calculation of an employee's total hours

                worked if the average bonus hours per period exceed this
                threshold.
              minimum: 0
            averageHoursCap:
              type: number
              description: >-
                If a cap is provided, the average number of bonus hours per
                period will be capped at this value. The employee 

                can be eligible for more bonus hours, but they will not be
                counted beyond this cap.
              minimum: 0
        overlapRules:
          description: >-
            Specify when a scheduled shift should count towards the targets of
            this constraint. If both minOverlapHours

            and minOverlapPercentage are specified, shifts will be counted if
            they satisfy either requirement. If the

            overlapRules object is not defined, shifts are counted if they have
            any overlap with the constraint.
          $ref: "#/components/schemas/overlapRules"
        periods:
          $ref: "#/components/schemas/periods"
          description: The periods in which the constraint should be applied. The minHours
            and maxHours will be applied to each period separately.
    cooldownConstraint:
      description: Used to define required or desired rest between working shifts.
      type: object
      required:
        - id
        - importance
        - targets
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        filters:
          type: object
          properties:
            employees:
              $ref: "#/components/schemas/constraintFiltersEmployees"
        starts:
          description: Defines the types of work that will trigger a cooldown. Currently,
            only filters on shifts are supported as starts.
          $ref: "#/components/schemas/cooldownStartsOrEnds"
        ends:
          description: Defines the types of work that should be avoided during a cooldown.
            Currently, only filters on shifts are supported as ends.
          $ref: "#/components/schemas/cooldownStartsOrEnds"
        targets:
          description: Defines the desired minimum duration of the cooldown. Can be
            defined in either hours or days.
          $ref: "#/components/schemas/cooldownTargets"
        periods:
          description: >-
            Defines the periods in which the cooldown constraint should be
            applied. If specified, cooldowns can only be 

            triggered by work that occurs within the specified periods. The
            cooldown itself will remain active until the

            target duration has passed, regardless of whether it coincides with
            the specified periods.
          $ref: "#/components/schemas/periods"
    consecutiveConstraint:
      type: object
      description: Used to set targets and limits on the number of consecutive shifts
        that an employee works.
      required:
        - id
        - importance
        - targets
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        filters:
          $ref: "#/components/schemas/constraintFilters"
        targets:
          $ref: "#/components/schemas/consecutiveTargets"
    patternConstraint:
      description: Used to define patterns of shifts that employees should follow or avoid.
      type: object
      required:
        - id
        - importance
        - isDesired
        - patterns
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        isDesired:
          description: >-
            If set to true, the solver will try to make employees follow the
            specified patterns. Else, it will try to avoid

            making employees follow any of the specified patterns.
          type: boolean
        filters:
          type: object
          description: Filters to determine the scope of the constraint. Used to decide
            which employees the constraint should be applied to.
          properties:
            employees:
              $ref: "#/components/schemas/constraintFiltersEmployees"
        periods:
          description: >-
            Defines the periods in which a pattern should be followed. Periods
            may not overlap, and are not applicable

            for undesired patterns. For desired patterns, the solver will try to
            make each employee follow exactly one of

            the available patterns in each period. Therefore, the patterns
            should be defined such that each instance of

            a pattern is always entirely within a single period.
          $ref: "#/components/schemas/periods"
        patterns:
          type: array
          items:
            type: object
            required:
              - patternDays
            properties:
              patternDays:
                type: array
                description: >-
                  Defines the pattern that should be followed. Each element in
                  the array represents a day in the pattern. 

                  Note that DAY_OFF is not allowed on strict undesired pattern
                  constraints.
                items:
                  $ref: "#/components/schemas/patternDay"
              startDays:
                description: >-
                  Defines the days on which this pattern starts. Defaults to the
                  first day of each period (if periods are

                  specified), or to each day of the schedule (if periods are not
                  specified).
                $ref: "#/components/schemas/days"
              isRepeating:
                type: boolean
                default: false
                description: >-
                  If set to true, each instance of the pattern will be repeated
                  from its start day until the end of 

                  the period that the instance falls within. Otherwise, the
                  pattern is not repeated.
              startOffsets:
                type: integer
                default: 0
                description: >-
                  The offset that the pattern may start with on the start day.
                  If set to 0, the pattern must start with

                  the first pattern day on each start day. If set to 1, the
                  pattern may start from any of its pattern days

                  on the start day. If set to 7 (for example), the pattern may
                  start with every 7th pattern day on the

                  start day. The pattern is then continued as usual.
        emptyDayBehaviours:
          description: Describes whether the pattern should skip over days that could be
            considered irrelevant for the pattern.
          type: object
          properties:
            dayOutsideSchedule:
              description: >-
                Describes whether the pattern counts days outside the schedule
                period as days in the pattern. The pattern can

                either always include them (INCLUDE), skip over them (EXCLUDE)
                or only include them if the pattern allows for a

                day off on that day (MATCH). Takes priority over the
                dayWithoutDemand and dayOff properties.
              $ref: "#/components/schemas/emptyDayBehaviour"
            dayWithoutDemand:
              description: >-
                Describes whether the pattern counts days without demand as days
                in the pattern. The pattern can either

                always include them (INCLUDE), skip over them (EXCLUDE) or only
                include them if the pattern allows for a

                day off on that day (MATCH).
              $ref: "#/components/schemas/emptyDayBehaviour"
            dayOff:
              description: >-
                Describes whether the pattern counts days off as days in the
                pattern. The pattern can either always

                include them (INCLUDE), skip over them (EXCLUDE) or only include
                them if the pattern allows for a day

                off on that day (MATCH).
              $ref: "#/components/schemas/emptyDayBehaviour"
    periodicRestConstraint:
      description: Used to set targets for continuous rest within specific periods.
      type: object
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        filters:
          $ref: "#/components/schemas/constraintFilters"
        targets:
          $ref: "#/components/schemas/periodicRestTargets"
        periods:
          $ref: "#/components/schemas/periods"
          description: The periods in which the constraint should be applied.
        blockedPeriods:
          $ref: "#/components/schemas/periods"
          description: Periods that should never be considered as rest. For example, use
            this to indicate that public holidays should not be considered rest
            periods even when unworked.
        periodGroups:
          description: Groups of periods during which periodic rest should be met. The
            constraint is considered satisfied if there is at least one period
            group for which the periodic rest is met for all of its periods.
            Cannot be used together with the regular 'periods' field.
          type: array
          items:
            $ref: "#/components/schemas/periods"
    periodDistributionConstraint:
      description: Used to define targets and limits for the distribution of periods
        (like weekends, holidays, nights).
      type: object
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        filters:
          $ref: "#/components/schemas/constraintFilters"
        minWorkedPeriods:
          type: integer
          description: The minimum amount of periods in which the employee should work.
            This is treated as a target instead of a strict limit.
          minimum: 0
        maxWorkedPeriods:
          type: integer
          description: The maximum amount of periods in which the employee can work.
          minimum: 0
        maxConsecutiveWorkedPeriods:
          type: integer
          description: The maximum amount of consecutive periods in which the employee can
            work.
          minimum: 1
        minSurroundingFreePeriods:
          type: integer
          description: The minimum amount of non-worked periods both before and after a
            worked period.
          minimum: 0
        overlapRules:
          description: Specify when a shift should count as working a period.
          $ref: "#/components/schemas/overlapRules"
        periods:
          $ref: "#/components/schemas/periods"
    layoutConstraint:
      type: object
      required:
        - id
        - importance
        - objectives
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importance"
        filters:
          $ref: "#/components/schemas/constraintFilters"
        objectives:
          description: Describes the targets for this constraint. Targets can indicate
            whether small/large groups are preferred and whether groups should
            be placed close together or spread out.
          $ref: "#/components/schemas/layoutObjectives"
    rotationConstraint:
      type: object
      required:
        - id
        - importance
        - targets
        - periods
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        filters:
          type: object
          description: Filters to determine the scope of the constraint. Used to decide
            which employees the constraint should be applied to.
          properties:
            employees:
              $ref: "#/components/schemas/constraintFiltersEmployees"
        targets:
          $ref: "#/components/schemas/rotationConstraintTargets"
        periods:
          description: The periods in which the constraint should be applied.
          $ref: "#/components/schemas/periods"
        assignedRotations:
          type: array
          description: List of employees that have been assigned to specific rotations.
            The solver will try to ensure that these employees follow the
            specified rotations as much as possible.
          items:
            type: object
            required:
              - rotationIndex
              - employeeIds
            properties:
              rotationIndex:
                type: integer
                description: The index of the rotation that the employees are assigned to.
                  Starts at 0.
              employeeIds:
                type: array
                description: List of employee ids that are assigned to the rotation.
                uniqueItems: true
                items:
                  type: string
        assignedPeriods:
          type: array
          description: List of employees that have been assigned to specific periods
            already. The solver will try to ensure that these employees work
            during the specified periods as much as possible.
          items:
            type: object
            required:
              - employeeId
              - periodIndices
            properties:
              employeeId:
                type: string
                description: The id of the employee that is assigned to the period.
              periodIndices:
                type: array
                description: List of period indices that the employee is assigned to. Starts at
                  0.
                uniqueItems: true
                items:
                  type: integer
    fairnessConstraint:
      type: object
      required:
        - id
        - constraintIds
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        importance:
          description: The importance of adhering to this fairness constraint.
          $ref: "#/components/schemas/importance"
        constraintIds:
          type: array
          description: List of constraint ids for which the corresponding (in)conveniences
            should be distributed fairly. May only contain constraints of the
            same type.
          items:
            type: string
          uniqueItems: true
        constraintFactors:
          type: array
          description: Technical property. Contact dev team for information on how to use
            this.
          items:
            type: object
            properties:
              constraintId:
                type: string
                description: The id of the constraint for which this factor should be applied.
              factor:
                type: number
                description: The factor to apply to the (in)conveniences of the specified
                  constraint when calculating fairness.
                minimum: 0
                maximum: 2
        applyConstraintImportanceScaling:
          type: boolean
          description: If true, more importance is given to (in)conveniences for
            constraints with a higher importance.
          default: true
        applyWorkloadScaling:
          type: boolean
          description: If true, the measured (in)conveniences are scaled proportionally to
            each employee's workload, ensuring fairness accounts for differences
            in hours worked.
          default: false
    prioritizationConstraint:
      type: object
      description: >-
        A soft constraint. This constraint will take priorities into account
        when deciding which employees to schedule.

        These priorities can be defined for either employees and timeSlots, or
        employees and shifts. So, given a timeSlot or 

        a shift, an employee with a higher priority score for this
        timeSlot/shift will be more likely to be scheduled than 

        an employee with a lower priority score for this timeSlot/shift. A
        priority score of -1 can be used to indicate

        that an employee must not be scheduled for a timeSlot/shift under any
        circumstances, making it a hard constraint.


        Just like other constraints, the weight of this constraint denotes how
        important the constraint is compared to other constraints.

        However, when multiple prioritizationConstraints are sent in, their
        weights have a slightly different effect:


        * When multiple prioritizationConstraints are sent in, the priority
        scores in the matrices are combined 

        using their weight to determine the "overall priorities": how
        prioritized employees are overall to be scheduled

        for a timeSlot/shift.


        * These "overall priorities" have reached their maximum relative
        importance compared to the other constraints, 

        when the weights of all prioritizationConstraints sum to 100 or more.
        I.e. increasing the weights more will not make the 

        prioritizations more important compared to other constraints.


        NOTE: Either timeSlotGroups (for Employee-TimeSlot Prioritization) or
        shiftGroups (for Employee-Shift Prioritization)

        must be specified. 


        EXAMPLE
          employeeGroups: [[employee1], [employee2]]
          demandGroups: [[MON, WED], [FRI]]

          Prioritization:
          demands      |[MON,WED]|[FRI]|
          [employee1]  |   50    | 90  |
          [employee2]  |   50    | 30  |

          PENALIZED
          week               |MON|TUE|WED|THU|FRI|SAT|SUN|
          employee1 working  | X |   | X |   |   |   |   |
          employee2 working  |   |   |   |   | X |   |   |
          explanation -> employee2 covers the demand on Friday even though employee1 has a higher priority.
                         This results in this solution getting a penalty.

          NOT PENALIZED
          week               |MON|TUE|WED|THU|FRI|SAT|SUN|
          employee1 working  | X |   |   |   | X |   |   |
          employee2 working  |   |   | X |   |   |   |   |
          explanation -> employee1 is scheduled on Friday instead of employee2, because employee1 has a higher priority.
                         There is no penalty for this solution.
      required:
        - id
        - employeeGroups
        - scoreMatrix
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importance"
        defaultScore:
          $ref: "#/components/schemas/priorityScore"
        employeeGroups:
          type: array
          description: Groupings of employees that have the same priority score for all
            demands/shifts. If no employees share the same priority scores, then
            the employees should be in groups of size one. An employee can
            either be in one group or in no group. It cannot be in several
            groups. Employees that aren't in any group will be given the default
            score for all demands/shifts.
          minItems: 1
          items:
            type: object
            required:
              - employeeIds
            description: Defines an employee group where all employees have the same
              priority score for all demands/shifts.
            properties:
              employeeIds:
                $ref: "#/components/schemas/constraintEmployeeIds"
              employeeGroupLabel:
                type: string
                description: A label for the employee group.
        timeSlotGroups:
          type: array
          description: Used when prioritization is defined for employees and timeSlots.
            This array contains groups of timeSlots for which the prioritization
            of employees is the same. If all timeSlots are differently
            prioritized, then each timeSlotGroup will be of size one. A timeSlot
            can either be in one group or in no group. It cannot be in several
            groups. timeSlots that aren't in any group will be given the default
            score for all employees.
          minItems: 1
          items:
            type: object
            required:
              - timeSlotIds
            description: Defines a timeSlot group for which the prioritization of employees
              is the same.
            properties:
              timeSlotIds:
                type: array
                description: A group of timeSlotIds for which the prioritizations of employees
                  is the same. The timeSlotIds should be present in the timeSlot
                  section.
                uniqueItems: true
                items:
                  type: string
              timeSlotGroupLabel:
                type: string
                description: A label for the time slot group.
        shiftGroups:
          type: array
          description: Used when prioritization is defined for employees and shifts. This
            array contains groups of shifts for which the prioritization of
            employees is the same. If all shifts are differently prioritized,
            then each shiftGroup will be of size one. A shift can either be in
            one group or in no group. It cannot be in several groups. Shifts
            that aren't in any group will be given the default score for all
            employees.
          minItems: 1
          items:
            type: object
            required:
              - shiftIds
            description: Defines a shift group for which the prioritization of employees is
              the same.
            properties:
              shiftIds:
                type: array
                description: A group of shiftIds for which the prioritization of employees is
                  the same. The shiftIds should be present in the *shifts* part
                  of the payload.
                uniqueItems: true
                items:
                  type: string
              shiftGroupLabel:
                type: string
                description: A label for the shift group.
        scoreMatrix:
          type: array
          description: Matrix with rows of employee groups and columns of demand or shift
            groups. The order of these groups in the rows and columns is the
            same as the order of the groups in *employeeGroups* and
            *demandGroups* or *shiftGroups*. The matrix contains the priority
            scores that employees in the groups have for all demands/shifts in
            the groups. The format of this matrix is an array of arrays. The
            "outer" array contains the rows of the matrix. One "inner" array
            therefore contains all priority scores of one employee group.
          minItems: 1
          items:
            type: array
            description: Row of the matrix, containing priority scores for all demand/shift
              groups for one employee group.
            minItems: 1
            items:
              $ref: "#/components/schemas/priorityScore"
    continuityConstraint:
      type: object
      description: >-
        This constraint defines groups of shifts where it is preferred for the
        shifts within a group to be assigned to the same employee.

        The solver will give preference to solutions where the number of
        distinct employees that are assigned shifts from within a group is as
        low as possible.

        The implementation of the weights of this constraint is a work in
        progress, so weights currently do not have any effect.
      required:
        - id
        - continuityGroups
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        continuityGroups:
          type: array
          description: Groupings of shifts which should preferably be handled by a low
            number of distinct employees. Currently, a shift can only be part of
            one continuityGroup per continuityConstraint.
          minItems: 1
          items:
            type: object
            required:
              - shiftIds
            properties:
              shiftIds:
                type: array
                description: A group of shiftIds that should preferably be assigned to as few
                  distinct employees as possible. The shiftIds should be present
                  in the shiftInfo section.
                uniqueItems: true
                items:
                  type: string
              shiftGroupLabel:
                type: string
                description: An optional descriptive label for the shift group.
    restBetweenShiftsConstraint:
      type: object
      description: >-
        Soft constraint when the weight is below 100, hard constraint when the
        weight is set to 100.

        This constraint allows you to set the minimum rest length between
        shifts.

        For example, if you set the minimum rest between shifts to 3 hours, the
        employee must have at least 3 hours

        of rest between shifts. If the employee has a shift from 8:00 to 12:00,
        the next shift can start at 15:00 at the

        earliest.


        EXAMPLE (solution accepted by constraint)
          minRestDuration = 2 hours for employee1
          time                 10   11   12   13   14   15
          shift1-employee1     |------|
          shift2-employee1                         |------|
          explanation --> employee1 has 3 hours (from 11 till 14) of rest between shifts

        EXAMPLE (solution NOT accepted by constraint)
          minRestDuration = 2 hours for employee1
          time                 10   11   12   13   14   15
          shift1-employee1          |-----|
          shift2-employee1                    |------|
          explanation --> employee1 has only 1 hour (from 12 till 13) of rest between shifts
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        labels:
          $ref: "#/components/schemas/constraintLabels"
        importance:
          $ref: "#/components/schemas/importanceWithStrict"
        filters:
          $ref: "#/components/schemas/constraintFilters"
        minRestDuration:
          $ref: "#/components/schemas/duration"
          description: The minimum duration between any two shifts that meet the
            constraint filters.
        minRestDays:
          type: integer
          description: The minimum number of days without an assigned shift between any
            two shifts that meet the constraint filters.
          minimum: 0
          default: 0
    shiftPatternConstraint:
      type: object
      description: >-
        This constraint defines patterns that are either desirable or
        undesirable. If the weight is negative, 

        the defined patterns are considered undesirable, and if the weight is
        positive, the defined patterns are 

        considered desirable. If startWeekday is undefined, the pattern will
        loop.


        If multiple patterns are defined as desirable, the solver will try to
        find a solution for ONE AND ONLY ONE of them 

        that has highest weight. At the moment combination of multiple desirable
        patterns is not supported.


        If multiple patterns are defined as undesirable, the solver will try to
        find a

        solution that does not violate any of them.


        Only one of periods and startWeekday can be defined. If both are
        defined, periods will be ignored.


        EXAMPLE-1 (NOT penalized) --> skipNonWorkingDays = NEVER, startWeekday =
        5, weight = 10
          week            |MON|TUE|WED|THU|FRI|SAT|SUN|
          pattern         |   |   |   |   |X,Y| X |DO |
          employee1       | X |   |   | Z | Y | X |   |
          employee2       |   | Y |   |   | X | X |   |
          explanation --> where X, Y and Z are different shifts, and DO=day_off. An employee can have either shift X or Y
                          on Friday to follow the pattern. This result will not be penalized as both employee1 and 
                          employee2 follows the pattern. 

        EXAMPLE-2 (penalized) --> skipNonWorkingDays = ALWAYS, weight = -10
          week            |MON|TUE|WED|THU|FRI|SAT|SUN|
          pattern         | X |Y,Z| Z | X |Y,Z| Z | X |
          employee1       | X | Y | Z |   | Z | X |   |
          employee2       | Y |   |   | Z |   |   | X |
          explanation --> where X, Y and Z are different shifts. This pattern loops as startWeekday is not defined, and 
                          each day in the pattern is not bound by a weekday. This result will be penalized as 
                          both employee1 and employee2 follows the undesired pattern. employee1 follows the pattern by 
                          working the desired shifts on Monday, Tuesday and Wednesday, and employee2 follows the pattern 
                          by working the desired shifts on Monday, Thursday and Sunday with allowed days off in-between. 
                          The starting shift is not important when looping (startWeekday is not defined) as long as the 
                          looping order is followed.
      required:
        - id
      not:
        required:
          - startWeekday
          - periods
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        isStrictStart:
          type: boolean
          description: >-
            Only works for desired shift patterns. If set to true, the first
            element of the pattern will apply to the first element of the
            period, and will loop

            until the end of the period. If set to false, the pattern can occur
            at any point in the period and start with

            any element in the pattern. It is worth noting that this is more
            challenging for the solver, and setting 

            this to True will hence reduce the solver runtime. Will be set to
            True if startWeekday is defined.
          default: false
        skipNonWorkingDays:
          type: string
          description: >-
            Defines the behavior for handling non-working days during pattern
            calculation. A working 

            day is defined as a day where an employee has available shifts, even
            if they don't end up working. Days 

            without available shifts are treated as days off. 

            NEVER: The pattern is calculated for every day without skipping any.
            Non-working days are included in the 

            pattern.

            FOR_SHIFTS_ONLY: The pattern is calculated considering both working
            days and days off. If the current day is 

            a working day for an employee (i.e., the employee has available
            shifts), the pattern is applied. If the day 

            is a non-working day and the shift pattern element represents a day
            off, the pattern moves to the next 

            element. Otherwise, the day is marked as a day off.

            ALWAYS: The pattern is strictly calculated for working days.
            Non-working days are skipped entirely.  Using the 

            keyword DAY_OFF in combination with ALWAYS is redundant, as
            non-working days are already skipped.
          enum:
            - ALWAYS
            - NEVER
            - FOR_SHIFTS_ONLY
          default: NEVER
        employeeIds:
          $ref: "#/components/schemas/constraintEmployeeIds"
        startDays:
          description: >-
            Defines days in the schedule where the pattern may start. Planned
            patterns are only considered by this constraint

            if they start on one of the specified days. For example, if an
            undesired pattern starts on a day not defined in

            the startDays, the solution will not receive a penalty for it.
          $ref: "#/components/schemas/days"
        patternIds:
          type: array
          description: Refers to patterns defined in configuration. The solver will try to
            find a solution that satisfies one of these patterns. When using
            patternIds, isStrictStart = true and skipNonWorkingDays = NEVER will
            be forced, while it cannot be used in combination with fields
            startWeekday and pattern.
          items:
            type: string
        pattern:
          type: array
          description: >-
            Defines a pattern of work days or days off as a list of shifts. The
            pattern can contain shift ids, template 

            ids, shift type ids, work type ids or a keyword, which can be
            DAY_OFF or ANY_SHIFT. All elements are included 

            in the final pattern. For example, if the first shift of the pattern
            contains shift ids X, and a keyword 

            DAY_OFF, the pattern will include both X and DAY_OFF as possible
            shifts for that day.
          items:
            $ref: "#/components/schemas/patternDay"
          minProperties: 1
        startWeekday:
          type: integer
          minimum: 1
          maximum: 7
    shiftUtilizationConstraint:
      type: object
      description: >-
        This constraint defines how many times specific shifts can be used
        within the scheduling period. If the weight

        is set to 100, occurrenceMax will work as a hard constraint, but
        occurrenceMin will still be soft. The shifts can

        be set using user-defined shifts, work types and shift types. The shifts
        have to be within the duration interval, 

        if specified. NOTE: at least one of occurrenceMin or occurrenceMax must
        be set.


        EXAMPLE
          occurrenceMin = 1, occurrenceMax = 3, shiftIds = [X]

          NOT PENALIZED
          week       |MON|TUE|WED|THU|FRI|SAT|SUN|
          employee   | X | Y | Z | Y |   | X |   |
          explanation -> X, Y, Z are different shift IDs. This is not penalized as X is used 2 times, which is between
                          occurrenceMin and occurrenceMax.

          PENALIZED
          week       |MON|TUE|WED|THU|FRI|SAT|SUN|
          employee   | X | X | Z | X |   | X |   |
          explanation -> X, Y, Z are different shift IDs. This is penalized as X is used 4 times, which is more than
                          occurrenceMax.
      required:
        - id
      properties:
        id:
          $ref: "#/components/schemas/constraintId"
        occurrenceMin:
          type: integer
          description: The minimum number of times the shifts can be used within the
            scheduling period.
          minimum: 0
          default: 0
        occurrenceMax:
          type: integer
          description: >-
            The maximum number of times the shifts can be used within the
            scheduling period.

            If the weight is set to 100, occurrenceMax will work as a hard
            constraint.
          minimum: 0
        durationMin:
          $ref: "#/components/schemas/duration"
[...]
